<app-header-breadcrumb [title]="'SNS STOCK PRICING'" [items]="['SNS']" [showAddNew]="false"
    [active_item]="'SNS Stock Pricing'"></app-header-breadcrumb>
    <form [formGroup]="uploadForm">
    <div class="card" [(ngbCollapse)]="isClosed8">
      <div class="card-header ">
          <h3 class="card-title ">Stock pricing</h3>
          <div class="card-options">
              <a href="javascript:;" class="card-options-collapse" (click)="Collapsetoggle8()"
                  [attr.aria-expanded]="!isCollapsed8">
                  <i class="fe fe-chevron-{{ !isCollapsed8 ? 'up' : 'down'}}"></i>
              </a>
          </div>
      </div>
      <div class="card-body p-2" [(ngbCollapse)]="isCollapsed8">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="form-group ">
              <div class="form-label">Stock Price Type <span class="text-red">*</span></div>
              <div class="custom-controls-stacked">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="stockPriceType" value="s" formControlName="stockPriceType">
                  <label class="form-check-label" for="inlineRadio1">Sales</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="stockPriceType" value="FOB"  formControlName="stockPriceType">
                  <label class="form-check-label" for="inlineRadio2">FOB</label>
                </div>
                <div *ngIf="submitted && form.stockPriceType.errors" class="text-danger">
                  <div *ngIf="form.stockPriceType.errors.required">Please select stock pricing
                  </div>
              </div>
              </div>
          </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label class="form-label">File<span class="text-red">*</span></label>
                <ngx-dropzone class="uploadFile" (change)="onSelect($event)"  [multiple]="false"
                    accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                    <ngx-dropzone-label>Select from my computer <span
                            class="text-red">*</span></ngx-dropzone-label>
                    <ngx-dropzone-preview class="file" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
                <div *ngIf="rejectedFile.length>0" class="text-danger" class="text-danger">
                    Please select a valid file
                </div>
            </div>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default-light" (click)="clearForm()">
            <i class="fa fa-eraser "></i> &nbsp;Clear &nbsp;</button>
        <button [disabled]="loading" class="btn btn-indigo" type="button" (click)="onSubmit()"
            [style.pointer-events]="loading?'none':''">
            <i class="fe fe-check" *ngIf="!loading"> </i>
            <i class="fa fa-spinner fa-spin" *ngIf="loading"> </i>
            &nbsp; {{loading? 'Submitting' : 'Submit'}} &nbsp;
        </button>
        <button class="btn btn-indigo" type="button" (click)="onRunPriceProcess()"
            [style.pointer-events]="loading1?'none':''">
            <i class="fe fe-repeat" *ngIf="!loading1"> </i>
            <i class="fa fa-spinner fa-spin" *ngIf="loading1"> </i>
            &nbsp; {{loading1? 'Submitting' : ' Run Price Process '}} &nbsp;
        </button>
        <div class="col-sm-6 col-md-12" *ngIf="showError">
          <div class="card">
            <div class="card-body">
              <mat-tab-group>
                <mat-tab>
                  <ng-template mat-tab-label>
                      <span class="tab-header" [ngClass]="{'text-danger': missingItems.length}">Error({{missingItems.length+duplicateItems.length+otherErrors.length}})</span>
                  </ng-template>
                  <div class="mt-2">
                      <ul>
                          <li *ngFor="let item of missingItems">{{item.responseMessage}}</li>
                          <li *ngFor="let item of duplicateItems">{{item.responseMessage}}</li>
                          <li *ngFor="let item of otherErrors">{{item.responseMessage}}</li>
                      </ul>
                  </div>
                </mat-tab>
                <!-- <mat-tab>
                  <ng-template mat-tab-label>
                    Duplicate Items
                  </ng-template>
                  <div  class="mt-2">
                      <ul>
                          <li *ngFor="let item of duplicateItems">{{item.responseMessage}}</li>
                      </ul>
                  </div>
                </mat-tab>
                <mat-tab>
                  <ng-template mat-tab-label>
                    Other Erros
                  </ng-template>
                  <div  class="mt-2">
                      <ul>
                          <li *ngFor="let item of otherErrors">{{item.responseMessage}}</li>
                      </ul>
                  </div>
                </mat-tab> -->
              </mat-tab-group>
            </div>
          </div>
        </div>
    </div>
    </div>
    </form>
