<div class="login-img">
    <div class="page">
        <div class="">
            <!-- CONTAINER OPEN -->
            <div class="col col-login mx-auto">
                <div class="text-center">
                    <img src="./assets/images/brand/logo.png" class="header-brand-img" alt="logo">
                </div>
            </div>
            <div class="container-login100">
                <div class="wrap-login100 p-0">
                    <div class="card-body">
                        <form (ngSubmit)="register()" class="login100-form validate-form">
                            <span class="login100-form-title">
                                Registration
                            </span>
                            <div class="wrap-input100 validate-input">
                                <input type="text" name="name" class="form-control input100" placeholder="User name"
                                    required>
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="mdi mdi-account" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="wrap-input100 validate-input">
                                <input type="email" name="email" class="form-control input100" [(ngModel)]="email"
                                    placeholder="Enter email Id" required>
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="zmdi zmdi-email" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="wrap-input100 validate-input">
                                <input type="password" name="password" class="form-control input100"
                                    [(ngModel)]="password" placeholder="Enter Password" required>
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="zmdi zmdi-lock" aria-hidden="true"></i>
                                </span>
                            </div>
                            <label class="custom-control custom-checkbox mt-4">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-label">Agree the <a routerLink="/pages/terms">terms and
                                        policy</a></span>
                            </label>
                            <div class="form-group">
                                <p *ngIf="errorMessage.length > 0" class="text-danger">
                                    {{errorMessage}}</p>

                                <p *ngIf="error.message.length > 0" class="text-danger">
                                    {{error.message}} </p>

                                <p *ngIf="message.length > 0" class="text-info">
                                    {{message}} </p>
                            </div>
                            <div class="container-login100-form-btn">
                                <button type="submit" class="login100-form-btn btn-primary">Register</button>
                            </div>

                            <div class="text-center pt-3">
                                <p class="text-dark mb-0">Already have account?<a routerLink="/auth/login"
                                        class="text-primary ms-1">Sign In</a></p>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center my-3">
                            <a href="javascript:;" class="social-login  text-center me-4">
                                <i class="fa fa-google"></i>
                            </a>
                            <a href="javascript:;" class="social-login  text-center me-4">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="javascript:;" class="social-login  text-center">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>