<app-header-breadcrumb [title]="'Avatar-radius'" [items]="['Elements']" [active_item]="'Avatar-radius'"></app-header-breadcrumb>
<!-- ROW-1 OPEN -->
<div class="row ">
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Simple avatar</h3>
            </div>
            <div class="card-body">
                <div class="text-wrap">
                    <div class="example">
                        <div class="avatar-list">
                            <img class="avatar bradius cover-image" src="./assets/images/users/1.jpg">
                            <img class="avatar bradius cover-image" src="./assets/images/users/2.jpg">
                            <img class="avatar bradius cover-image" src="./assets/images/users/1.jpg">
                            <img class="avatar bradius cover-image" src="./assets/images/users/2.jpg">
                            <img class="avatar bradius cover-image" src="./assets/images/users/3.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Avatar size</h3>
            </div>
            <div class="card-body">
                <div class="text-wrap">
                    <div class="example">
                        <div class="avatar-list">
                            <img class="avatar avatar-sm bradius cover-image" src="./assets/images/users/4.jpg">
                            <img class="avatar bradius cover-image" src="./assets/images/users/3.jpg">
                            <img class="avatar avatar-md bradius cover-image" src="./assets/images/users/5.jpg">
                            <img class="avatar avatar-lg bradius cover-image" src="./assets/images/users/6.jpg">
                            <img class="avatar avatar-xl bradius cover-image" src="./assets/images/users/4.jpg">
                            <img class="avatar avatar-xxl bradius cover-image" src="./assets/images/users/7.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
</div>
<!-- ROW-1 CLOSED -->

<!-- ROW-2 OPEN -->
<div class="row ">
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Avatar status</h3>
            </div>
            <div class="card-body">
                <div class="text-wrap">
                    <div class="example">
                        <div class="avatar-list">
                            <span><img class="avatar bradius cover-image" src="./assets/images/users/8.jpg"></span>
                            <span class="avatar cover-image bradius"><img class="avatar bradius cover-image" src="./assets/images/users/5.jpg"><span class="avatar-status bg-secondary"></span> </span>
                            <span class="avatar cover-image bradius"><img class="avatar bradius cover-image" src="./assets/images/users/9.jpg"><span class="avatar-status bg-red"></span> </span>
                            <span class="avatar cover-image bradius"><img class="avatar bradius cover-image" src="./assets/images/users/6.jpg"><span class="avatar-status bg-green"></span> </span>
                            <span class="avatar cover-image bradius"><img class="avatar bradius cover-image" src="./assets/images/users/7.jpg"><span class="avatar-status bg-yellow"></span> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Avatars list</h3>
            </div>
            <div class="card-body">
                <div class="text-wrap ">
                    <div class="example">
                        <div class="avatar-list avatar-list-stacked">
                            <img class="avatar bradius cover-image" src="./assets/images/users/8.jpg">
                            <img class="avatar bradius cover-image" src="./assets/images/users/8.jpg">
                            <img class="avatar bradius cover-image" src="./assets/images/users/9.jpg">
                            <img class="avatar bradius cover-image" src="./assets/images/users/8.jpg">
                            <img class="avatar bradius cover-image" src="./assets/images/users/11.jpg">
                            <span class="avatar bradius bg-primary">+8</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
</div><!-- COL END -->