<app-header-breadcrumb [title]="'Avatar-rounded'" [items]="['Elements']" [active_item]="'Avatar-rounded'"></app-header-breadcrumb>
<!-- ROW-1 OPEN -->
<div class="row ">
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Simple Round avatar</h3>
            </div>
            <div class="card-body">
                <div class="text-wrap">
                    <div class="example">
                        <div class="avatar-list">
                            <img class="avatar  brround cover-image" src="./assets/images/users/12.jpg">
                            <img class="avatar  brround cover-image" src="./assets/images/users/13.jpg">
                            <img class="avatar  brround cover-image" src="./assets/images/users/11.jpg">
                            <img class="avatar  brround cover-image" src="./assets/images/users/12.jpg">
                            <img class="avatar  brround cover-image" src="./assets/images/users/14.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">RoundAvatars list</h3>
            </div>
            <div class="card-body">
                <div class="text-wrap">
                    <div class="example">
                        <div class="avatar-list avatar-list-stacked">
                            <img class="avatar brround cover-image" src="./assets/images/users/12.jpg">
                            <img class="avatar brround cover-image" src="./assets/images/users/1.jpg">
                            <img class="avatar brround cover-image" src="./assets/images/users/19.jpg">
                            <img class="avatar brround cover-image" src="./assets/images/users/2.jpg">
                            <img class="avatar brround cover-image" src="./assets/images/users/14.jpg">
                            <span class="avatar brround cover-image bg-primary">+8</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
</div>
<!-- ROW-1 CLOSED -->

<!-- ROW-2 OPEN -->
<div class="row ">
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">RoundAvatar size</h3>
            </div>
            <div class="card-body">
                <div class="text-wrap">
                    <div class="example">
                        <div class="avatar-list">
                            <img class="avatar avatar-sm brround cover-image" src="./assets/images/users/15.jpg">
                            <img class="avatar brround cover-image" src="./assets/images/users/13.jpg">
                            <img class="avatar avatar-md brround cover-image" src="./assets/images/users/16.jpg">
                            <img class="avatar avatar-lg brround cover-image" src="./assets/images/users/17.jpg">
                            <img class="avatar avatar-xl brround cover-image" src="./assets/images/users/14.jpg">
                            <img class="avatar avatar-xxl brround cover-image" src="./assets/images/users/18.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">RoundAvatar status</h3>
            </div>
            <div class="card-body">
                <div class="text-wrap">
                    <div class="example">
                        <div class="avatar-list">
                            <span class="avatar brround"><img class="brround cover-image" src="./assets/images/users/19.jpg"></span>
                            <span class="avatar brround"><img class="brround cover-image" src="./assets/images/users/15.jpg"><span class="avatar-status bg-secondary"></span></span>
                            <span class="avatar brround"><img class="brround cover-image" src="./assets/images/users/20.jpg"><span class="avatar-status bg-red"></span></span>
                            <span class="avatar brround"><img class="brround cover-image" src="./assets/images/users/11.jpg"><span class="avatar-status bg-green"></span></span>
                            <span class="avatar brround"><img class="brround cover-image" src="./assets/images/users/17.jpg"><span class="avatar-status bg-yellow"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
</div><!-- COL END -->