<app-header-breadcrumb [title]="'Breadcrumb'" [items]="['Elements']" [active_item]="'Breadcrumb'"></app-header-breadcrumb>
<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Simple Breadcrumbs</h3>
            </div>
            <div class="card-body">
                <div class="example">
                    <ol class="breadcrumb1">
                        <li class="breadcrumb-item1 active"><i class="fa fa-home me-1 text-transparant"
                                aria-hidden="true"></i>Home</li>
                        <li class="breadcrumb-item1 active  text-muted">About</li>
                    </ol>
                    <ol class="breadcrumb1">
                        <li class="breadcrumb-item1 active"><i class="fa fa-home me-1 text-transparant"
                                aria-hidden="true"></i>Home</li>
                        <li class="breadcrumb-item1 active  text-muted">Library</li>
                    </ol>
                    <ol class="breadcrumb1">
                        <li class="breadcrumb-item1 active"><i class="fa fa-home me-1 text-transparant"
                                aria-hidden="true"></i>Home</li>
                        <li class="breadcrumb-item1"><a href="javascript:;">Library</a></li>
                        <li class="breadcrumb-item1 active  text-muted">Data</li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!-- COL-END -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Breadcrumbs-Right align</h3>
            </div>
            <div class="card-body">
                <div class="example">
                    <div class="breadcrumb-1">
                        <ol class="breadcrumb1">
                            <li class="breadcrumb-item1 active"><i class="fa fa-home me-1 text-transparant"
                                    aria-hidden="true"></i>Home</li>
                            <li class="breadcrumb-item1 active  text-muted">about</li>
                        </ol>
                    </div>
                    <div class="breadcrumb-2">
                        <ol class="breadcrumb1">
                            <li class="breadcrumb-item1 active"><i class="fa fa-home me-1 text-transparant"
                                    aria-hidden="true"></i>Home</li>
                            <li class="breadcrumb-item1 active text-muted">Library</li>
                        </ol>
                    </div>
                    <div class="breadcrumb-6">
                        <ol class="breadcrumb1 mb-0">
                            <li class="breadcrumb-item1 active"><i class="fa fa-home me-1 text-transparant"
                                    aria-hidden="true"></i>Home</li>
                            <li class="breadcrumb-item1"><a href="javascript:;">Library</a></li>
                            <li class="breadcrumb-item1 active text-muted">Data</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL-END -->
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Simple Breadcrumbs Type 2</h3>
            </div>
            <div class="card-body">
                <div class="example">
                    <ol class="breadcrumb2">
                        <li class="breadcrumb-item2 active"><i class="fa fa-home me-1 text-transparant"
                                aria-hidden="true"></i>Home</li>
                        <li class="breadcrumb-item2 active  text-muted">About</li>
                    </ol>
                    <ol class="breadcrumb1">
                        <li class="breadcrumb-item2 active"><i class="fa fa-home me-1 text-transparant"
                                aria-hidden="true"></i>Home</li>
                        <li class="breadcrumb-item2 active  text-muted">Library</li>
                    </ol>
                    <ol class="breadcrumb1">
                        <li class="breadcrumb-item2 active"><i class="fa fa-home me-1 text-transparant"
                                aria-hidden="true"></i>Home</li>
                        <li class="breadcrumb-item2"><a href="javascript:;">Library</a></li>
                        <li class="breadcrumb-item2 active  text-muted">Data</li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!-- COL-END -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Type 2 Breadcrumbs-Right align</h3>
            </div>
            <div class="card-body">
                <div class="example">
                    <div class="breadcrumb-2">
                        <ol class="breadcrumb2">
                            <li class="breadcrumb-item2 active"><i class="fa fa-home me-1 text-transparant"
                                    aria-hidden="true"></i>Home</li>
                            <li class="breadcrumb-item2 active  text-muted">about</li>
                        </ol>
                    </div>
                    <div class="breadcrumb-2">
                        <ol class="breadcrumb1">
                            <li class="breadcrumb-item2 active"><i class="fa fa-home me-1 text-transparant"
                                    aria-hidden="true"></i>Home</li>
                            <li class="breadcrumb-item2 active text-muted">Library</li>
                        </ol>
                    </div>
                    <div class="breadcrumb-6">
                        <ol class="breadcrumb1 mb-0">
                            <li class="breadcrumb-item2 active"><i class="fa fa-home me-1 text-transparant"
                                    aria-hidden="true"></i>Home</li>
                            <li class="breadcrumb-item2"><a href="javascript:;">Library</a></li>
                            <li class="breadcrumb-item2 active text-muted">Data</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL-END -->
</div>