<app-header-breadcrumb [title]="'Widgets'" [items]="['Home']" [active_item]="'Widgets'"></app-header-breadcrumb>
<!-- ROW -->
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-body text-center">
                <i class="fa fa-firefox text-primary fa-3x"></i>
                <h6 class="mt-4 mb-2">Total Visit</h6>
                <h2 class="mb-2 number-font">834</h2>
                <p class="text-muted">Sed ut perspiciatis unde omnis accusantium doloremque</p>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-body text-center">
                <i class="fa fa-dollar text-secondary fa-3x"></i>
                <h6 class="mt-4 mb-2">Cost per Click</h6>
                <h2 class="mb-2  number-font">$34,516</h2>
                <p class="text-muted">Sed ut perspiciatis unde omnis accusantium doloremque</p>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-body text-center">
                <i class="fa fa-comment-o text-success fa-3x"></i>
                <h6 class="mt-4 mb-2">Investment</h6>
                <h2 class="mb-2 number-font">80%</h2>
                <p class="text-muted">Sed ut perspiciatis unde omnis accusantium doloremque</p>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-body text-center">
                <i class="fa fa-pie-chart text-info fa-3x"></i>
                <h6 class="mt-4 mb-2">Revenue</h6>
                <h2 class="mb-2  number-font">70k</h2>
                <p class="text-muted">Sed ut perspiciatis unde omnis accusantium doloremque</p>
            </div>
        </div>
    </div><!-- COL END -->
</div>
<!-- ROW -->

<!-- ROW -->
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card bg-primary img-card box-primary-shadow">
            <div class="card-body">
                <div class="d-flex">
                    <div class="text-white">
                        <h2 class="mb-0 number-font">23,536</h2>
                        <p class="text-white mb-0">Total Requests </p>
                    </div>
                    <div class="ms-auto"> <i class="fa fa-send-o text-white fs-30 me-2 mt-2"></i> </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card bg-secondary img-card box-secondary-shadow">
            <div class="card-body">
                <div class="d-flex">
                    <div class="text-white">
                        <h2 class="mb-0 number-font">45,789</h2>
                        <p class="text-white mb-0">Total Revenue</p>
                    </div>
                    <div class="ms-auto"> <i class="fa fa-bar-chart text-white fs-30 me-2 mt-2"></i> </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card  bg-success img-card box-success-shadow">
            <div class="card-body">
                <div class="d-flex">
                    <div class="text-white">
                        <h2 class="mb-0 number-font">89,786</h2>
                        <p class="text-white mb-0">Total Profit</p>
                    </div>
                    <div class="ms-auto"> <i class="fa fa-dollar text-white fs-30 me-2 mt-2"></i> </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card bg-info img-card box-info-shadow">
            <div class="card-body">
                <div class="d-flex">
                    <div class="text-white">
                        <h2 class="mb-0 number-font">43,336</h2>
                        <p class="text-white mb-0">Monthly Sales</p>
                    </div>
                    <div class="ms-auto"> <i class="fa fa-cart-plus text-white fs-30 me-2 mt-2"></i> </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
</div>
<!-- ROW -->

<!-- ROW -->
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="card-order">
                    <h6 class="mb-2">New users</h6>
                    <h2 class="text-end "><i
                            class="mdi mdi-account-multiple icon-size float-start text-primary text-primary-shadow"></i><span>3,672</span>
                    </h2>
                    <p class="mb-0">Monthly users<span class="float-end">50%</span></p>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card ">
            <div class="card-body">
                <div class="card-widget">
                    <h6 class="mb-2">Total Tax</h6>
                    <h2 class="text-end"><i
                            class="mdi mdi-cube icon-size float-start text-success text-success-shadow"></i><span>$89,265</span>
                    </h2>
                    <p class="mb-0">Monthly Income<span class="float-end">$7,893</span></p>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="card-widget">
                    <h6 class="mb-2">Total Profit</h6>
                    <h2 class="text-end"><i
                            class="icon-size mdi mdi-poll-box   float-start text-warning text-warning-shadow"></i><span>$23,987</span>
                    </h2>
                    <p class="mb-0">Monthly Profit<span class="float-end">$4,678</span></p>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card ">
            <div class="card-body">
                <div class="card-widget">
                    <h6 class="mb-2">Total Sales</h6>
                    <h2 class="text-end"><i
                            class="fa fa-cart-plus icon-size float-start text-danger text-danger-shadow"></i><span>46,486</span>
                    </h2>
                    <p class="mb-0">Monthly Sales<span class="float-end">3,756</span></p>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
</div>
<!-- ROW END -->

<!-- ROW -->
<div class="row">
    <div class="col-xl-3 col-md-12 col-lg-6">
        <div class="card">
            <div class="card-body text-center">
                <h6 class=""><span class="text-primary"><i
                            class="fe fe-file-text mx-2 fs-20 text-primary-shadow"></i></span>Total Projects</h6>
                <h3 class="text-dark counter mt-0 mb-3 number-font">7,896</h3>
                <ngb-progressbar class="h-1 mb-2 mt-0" type="primary" [value]="70" [striped]="true" [animated]="true"></ngb-progressbar>
                <div class="row mt-4">
                    <div class="col text-center"> <span class="text-muted">Weekly</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">8</h4>
                    </div>
                    <div class="col text-center"> <span class="text-muted">Monthly</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font2">23</h4>
                    </div>
                    <div class="col text-center"> <span class="text-muted">Total</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font3">31</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-12 col-lg-6">
        <div class="card overflow-hidden">
            <div class="card-body text-center">
                <h6 class=""><span class="text-secondary"><i
                            class="fe fe-users mx-2 fs-20 text-secondary-shadow"></i></span>Total Employees</h6>
                <h3 class="text-dark counter mt-0 mb-3 number-font">2,897</h3>
                <ngb-progressbar class="h-1 mb-2 mt-0" type="secondary" [value]="50" [striped]="true" [animated]="true"></ngb-progressbar>
                <div class="row mt-4">
                    <div class="col text-center"> <span class="text-muted">Male</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">378</h4>
                    </div>
                    <div class="col text-center"> <span class="text-muted">Female</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">689</h4>
                    </div>
                    <div class="col text-center"> <span class="text-muted">Total</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">1,069</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-12 col-lg-6">
        <div class="card overflow-hidden">
            <div class="card-body text-center">
                <h6 class=""><span class="text-success"><i
                            class="fe fe-award mx-2 fs-20 text-success-shadow"></i></span>Ongoing Projects</h6>
                <h3 class="text-dark counter mt-0 mb-3 number-font">1,567</h3>
                <ngb-progressbar class="h-1 mb-2 mt-0" type="success" [value]="60" [striped]="true" [animated]="true"></ngb-progressbar>
                <div class="row mt-4">
                    <div class="col text-center"> <span class="text-muted">Weekly</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">5</h4>
                    </div>
                    <div class="col text-center"> <span class="text-muted">Monthly</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">20</h4>
                    </div>
                    <div class="col text-center"> <span class="text-muted">Total</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">25</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-12 col-lg-6">
        <div class="card overflow-hidden">
            <div class="card-body text-center">
                <h6 class=""><span class="text-info"><i class="fe fe-tag mx-2 fs-20 text-info-shadow"></i></span>Total
                    Tasks</h6>
                <h3 class="text-dark counter mt-0 mb-3 number-font">4,293</h3>
                <ngb-progressbar class="h-1 mb-2 mt-0" type="info" [value]="40" [striped]="true" [animated]="true"></ngb-progressbar>
                <div class="row mt-4">
                    <div class="col text-center"> <span class="text-muted">Weekly</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">35</h4>
                    </div>
                    <div class="col text-center"> <span class="text-muted">Monthly</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">56</h4>
                    </div>
                    <div class="col text-center"> <span class="text-muted">Total</span>
                        <h4 class="fw-normal mt-2 mb-0 number-font1">91</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW -->

<!-- ROW OPEN -->
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card overflow-hidden">
            <div class="card-body pb-0">
                <div class="float-start">
                    <p class="mb-1">Graph Profit Margin</p>
                    <h2 class="counter mb-0">78%</h2>
                </div>
                <div class="float-end">
                    <span class="mini-stat-icon bg-info"><i class="si si-eye "></i></span>
                </div>
            </div>
            <div class="card-body pt-0 pb-0 border-top-0 overflow-hidden">
                <div class="chart-wrapper overflow-hidden">
                    <canvas  class="areaChart chart-dropshadow-primary" baseChart [data]="AreaChartData" [options]="AreaChartOptions" [type]="AreaChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-body pb-0">
                <div class="float-start">
                    <p class="mb-1">Opex Ratio</p>
                    <h2 class="counter mb-0">4.5:8</h2>
                </div>
                <div class="float-end">
                    <span class="mini-stat-icon bg-danger"><i class="si si-volume-2"></i></span>
                </div>
            </div>
            <div class="card-body pt-0 pb-0 border-top-0 overflow-hidden">
                <div class="chart-wrapper ">
                    <canvas  class="areaChart chart-dropshadow-success" baseChart [data]="AreaChartData1" [options]="AreaChartOptions" [type]="AreaChartType">
                </canvas>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-body pb-0">
                <div class="float-start">
                    <p class="mb-1">Operating Profit Margin</p>
                    <h2 class="counter mb-0">22%</h2>
                </div>
                <div class="float-end">
                    <span class="mini-stat-icon bg-warning"><i class="si si-chart"></i></span>
                </div>
            </div>
            <div class="card-body pt-0 pb-0 border-top-0 overflow-hidden">
                <div class="chart-wrapper ">
                    <canvas  class="areaChart chart-dropshadow-warning" baseChart [data]="AreaChartData2" [options]="AreaChartOptions" [type]="AreaChartType"></canvas>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-body pb-0">
                <div class="float-start">
                    <p class="mb-1">Net Profit Margin</p>
                    <h2 class="counter mb-0">16%</h2>
                </div>
                <div class="float-end">
                    <span class="mini-stat-icon bg-success"><i class="si si-user"></i></span>
                </div>
            </div>
            <div class="card-body pt-0 pb-0 border-top-0 overflow-hidden">
                <div class="chart-wrapper ">
                    <canvas  class="areaChart chart-dropshadow-danger" baseChart [data]="AreaChartData3" [options]="AreaChartOptions" [type]="AreaChartType">
                </canvas>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
</div>
<!-- ROW CLOSED -->

<!-- ROW OPEN -->
<div class="row row-cards">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-header pt-2 pb-0 border-bottom-0">
                <h3 class="card-title">Total Revenue</h3>
                <div class="card-options">
                    <a class="btn btn-sm btn-primary" href="javascript:;"><i class="fa fa-bar-chart mb-0"></i></a>
                </div>
            </div>
            <div class="card-body pt-0">
                <h3 class="d-inline-block mb-2">46,789</h3>
                <ngb-progressbar class="h-2 mb-2 mt-2" type="primary" [value]="50" ></ngb-progressbar>
                <div class="float-start">
                    <div class="mt-2">
                        <i class="fa fa-caret-up text-success"></i>
                        <span>12% increase</span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-header pb-0 border-bottom-0">
                <h3 class="card-title">Total Requests</h3>
                <div class="card-options">
                    <a class="btn btn-sm btn-success" href="javascript:;"><i class="fa fa-send-o mb-0"></i></a>
                </div>
            </div>
            <div class="card-body pt-0">
                <h3 class="d-inline-block mb-2">23,536</h3>
                <ngb-progressbar class="h-2 mb-2 mt-2" type="success" [value]="50" ></ngb-progressbar>
                <div class="float-start">
                    <div class="mt-2">
                        <i class="fa fa-caret-down text-success"></i>
                        <span>5% decrease</span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-header pb-0 border-bottom-0">
                <h3 class="card-title">Requests Answered</h3>
                <div class="card-options">
                    <a class="btn btn-sm btn-warning" href="javascript:;"><i class="fa fa-mail-reply mb-0"></i></a>
                </div>
            </div>
            <div class="card-body pt-0">
                <h3 class="d-inline-block mb-2">32,784</h3>
                <ngb-progressbar class="h-2 mb-2 mt-2" type="warning" [value]="50" ></ngb-progressbar>
                <div class="float-start">
                    <div class="mt-2">
                        <i class="fa fa-caret-up text-warning"></i>
                        <span>10% increase</span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-header pb-0 border-bottom-0">
                <h3 class="card-title">Support Cost</h3>
                <div class="card-options">
                    <a class="btn btn-sm btn-danger" href="javascript:;"><i class="fa fa-money mb-0"></i></a>
                </div>
            </div>
            <div class="card-body pt-0">
                <h3 class="d-inline-block mb-2">14,563</h3>
                <ngb-progressbar class="h-2 mb-2 mt-2" type="danger" [value]="50" ></ngb-progressbar>
                <div class="float-start">
                    <div class="mt-2">
                        <i class="fa fa-caret-down text-danger"></i>
                        <span>15% decrease</span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
</div>
<!-- ROW CLOSED -->

<!-- ROW OPEN -->
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <small class="text-muted">Staff</small>
                    <h2 class="mb-2 mt-0">450</h2>
                    <circle-progress [percent]="75" [radius]="32" [space]="-5" [outerStrokeWidth]="5"
                        [innerStrokeWidth]="5" [showInnerStroke]="true" [outerStrokeColor]="'#fb6b25'"
                        [innerStrokeColor]="'#fb6b2575'" [showSubtitle]="false" [animation]="true" [animationDuration]="1000"
                        [showImage]="true" [imageHeight]="12"
                        [imageWidth]="12">
                    </circle-progress>
                    <div class="chart-circle-value-3 text-secondary fs-20"><i class="icon icon-people"></i></div>
                    <p class="mb-0"><span class="dot-label bg-secondary me-2"></span>Num of Employees</p>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="widget text-center">
                    <small class="text-muted">Devices</small>
                    <h2 class="mb-2 mt-0">485</h2>
                    <circle-progress  [percent]="75" [radius]="32" [space]="-5" [outerStrokeWidth]="5"
                        [innerStrokeWidth]="5" [showInnerStroke]="true" [outerStrokeColor]="'#2dce89'"
                        [innerStrokeColor]="'#a0e1c4'" [showSubtitle]="false" [animation]="true" [animationDuration]="1000"
                        [showImage]="true" [imageHeight]="12"
                        [imageWidth]="12">
                    </circle-progress>
                    <div class="chart-circle-value-3 text-success fs-20"><i class="icon icon-screen-desktop"></i></div>
                    <p class="mb-0"><span class="dot-label bg-success me-2"></span>Num of Devices</p>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="widget text-center">
                    <small class="text-muted">Licenses</small>
                    <h2 class="mb-2 mt-0">256</h2>
                    <circle-progress [percent]="75" [radius]="32" [space]="-5" [outerStrokeWidth]="5"
                        [innerStrokeWidth]="5" [showInnerStroke]="true" [outerStrokeColor]="'#f7b731'"
                        [innerStrokeColor]="'#f7b73166'" [showSubtitle]="false" [animation]="true" [animationDuration]="1000"
                        [showImage]="true" [imageHeight]="12"
                        [imageWidth]="12">
                    </circle-progress>
                    <div class="chart-circle-value-3 text-warning fs-20"><i class="icon icon-notebook"></i></div>
                    <p class="mb-0"><span class="dot-label bg-warning me-2"></span>7 licences about to expire</p>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="widget text-center">
                    <small class="text-muted">Running Cost</small>
                    <h2 class="mb-2 mt-0">$32.759</h2>
                    <circle-progress [percent]="75" [radius]="32" [space]="-5" [outerStrokeWidth]="5"
                        [innerStrokeWidth]="5" [showInnerStroke]="true" [outerStrokeColor]="'#f82649'"
                        [innerStrokeColor]="'#f826497a'" [showSubtitle]="false" [animation]="true" [animationDuration]="1000"
                        [showImage]="true" [imageHeight]="12"
                        [imageWidth]="12">
                    </circle-progress>
                    <div class="chart-circle-value-3 text-danger fs-20"><i class="icon icon-chart"></i></div>
                    <p class="mb-0"><span class="dot-label bg-danger me-2"></span>Total Running Cost</p>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
</div>
<!-- ROW CLOSED -->

<!-- ROW OPEN -->
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6  col-xl-3">
        <div class="card widgets-cards bg-primary box-primary-shadow">
            <div class="card-body d-flex justify-content-center align-items-center">
                <circle-progress class="chart-circle chart-circle-sm me-5 mt-1" [percent]="70" [radius]="72" [space]="-8" [outerStrokeWidth]="8"
                        [innerStrokeWidth]="8" [showInnerStroke]="true" [outerStrokeColor]="'#321773'"
                        [innerStrokeColor]="'#32177375'" [titleFontSize]="'32'" [showSubtitle]="false" [animation]="true" [animationDuration]="1000">
                </circle-progress>
                <div class="wrp text-wrapper text-white">
                    <p class="mt-0">$8758</p>
                    <p class="mt-1 mb-0">This Week Orders</p>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-12 col-lg-6  col-xl-3">
        <div class="card widgets-cards bg-success box-success-shadow">
            <div class="card-body d-flex justify-content-center align-items-center">
                <circle-progress class="chart-circle chart-circle-sm me-5 mt-1" [percent]="17" [radius]="72" [space]="-8" [outerStrokeWidth]="8"
                [innerStrokeWidth]="8" [showInnerStroke]="true" [outerStrokeColor]="'#0e8c79'"
                [innerStrokeColor]="'#a0e1c4'" [titleFontSize]="'32'" [showSubtitle]="false" [animation]="true" [animationDuration]="1000">
                </circle-progress>
                <div class="wrp text-wrapper text-white">
                    <p class="mt-0">6477</p>
                    <p class=" mt-1 mb-0">This Week Views</p>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-12 col-lg-6  col-xl-3">
        <div class="card widgets-cards bg-warning box-warning-shadow">
            <div class="card-body d-flex justify-content-center align-items-center">
                <circle-progress class="chart-circle chart-circle-sm me-5 mt-1" [percent]="42" [radius]="72" [space]="-8" [outerStrokeWidth]="8"
                        [innerStrokeWidth]="8" [showInnerStroke]="true" [outerStrokeColor]="'#c68806'"
                        [innerStrokeColor]="'#c688067d'" [titleFontSize]="'32'" [showSubtitle]="false" [animation]="true" [animationDuration]="1000">
                </circle-progress>
                <div class="wrp text-wrapper text-white">
                    <p class="mt-0">7847</p>
                    <p class=" mt-1 mb-0">This Week Earnings</p>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-12 col-lg-6  col-xl-3">
        <div class="card widgets-cards bg-danger box-danger-shadow">
            <div class="card-body d-flex justify-content-center align-items-center">
                <circle-progress class="chart-circle chart-circle-sm me-5 mt-1" [percent]="37" [radius]="72" [space]="-8" [outerStrokeWidth]="8"
                        [innerStrokeWidth]="8" [showInnerStroke]="true" [outerStrokeColor]="'#c21a1a'"
                        [innerStrokeColor]="'#c21a1a73'" [titleFontSize]="'32'" [showSubtitle]="false" [animation]="true" [animationDuration]="1000">
                </circle-progress>
                <div class="wrp text-wrapper text-white">
                    <p class="mt-0">345</p>
                    <p class=" mt-1 mb-0">This Week Comments</p>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-lg-6 col-md-12 col-xl-3">
        <div class="card">
            <div class="row">
                <div class="col-4">
                    <div class="circle-icon bg-primary text-center align-self-center box-primary-shadow">
                        <img src="./assets/images/svgs/circle.svg" alt="img" class="card-img-absolute">
                        <i class="lnr lnr-user fs-30  text-white mt-4"></i>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card-body p-4">
                        <h2 class="mb-2 fw-normal mt-2">17,533</h2>
                        <h5 class="fw-normal mb-0">Total Followers</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-12 col-xl-3">
        <div class="card">
            <div class="row">
                <div class="col-4">
                    <div
                        class="circle-icon circle-icon bg-secondary align-items-center text-center box-secondary-shadow">
                        <img src="./assets/images/svgs/circle.svg" alt="img" class="card-img-absolute">
                        <i class="lnr lnr-heart fs-30 text-white mt-4"></i>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card-body p-4">
                        <h2 class="mb-2 fw-normal mt-2">10,257</h2>
                        <h5 class="fw-normal mb-0">Total Likes</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-12 col-xl-3">
        <div class="card">
            <div class="row">
                <div class="col-4">
                    <div class="circle-icon  circle-icon bg-success align-items-center text-center box-success-shadow">
                        <img src="./assets/images/svgs/circle.svg" alt="img" class="card-img-absolute">
                        <i class="lnr lnr-bubble fs-30 text-white mt-4"></i>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card-body p-4">
                        <h2 class="mb-2 fw-normal mt-2">87</h2>
                        <h5 class="fw-normal mb-0">Total Comments</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-12 col-xl-3">
        <div class="card">
            <div class="row">
                <div class="col-4">
                    <div class="circle-icon circle-icon bg-danger align-items-center text-center box-danger-shadow">
                        <img src="./assets/images/svgs/circle.svg" alt="img" class="card-img-absolute">
                        <i class=" lnr lnr-envelope fs-30 text-white mt-4 "></i>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card-body p-4">
                        <h2 class="mb-2 fw-normal mt-2">485</h2>
                        <h5 class="fw-normal mb-0">Total Posts</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW CLOSED -->

<!-- ROW OPEN -->
<div class="row">
    <div class="col-md-12 col-xl-4">
        <div class="card">
            <div class="card-header border-bottom">
                <h5 class="card-title">Sales Summary</h5>
            </div>
            <div class="card-body">
                <div class="clearfix row mb-4">
                    <div class="col">
                        <div class="float-start">
                            <h5 class="mb-0"><strong>Total Revenue</strong></h5>
                            <small class="text-muted">weekly profit</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="float-end">
                            <h4 class="fw-bold mb-0 mt-2 text-blue">$15300</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix row mb-4">
                    <div class="col">
                        <div class="float-start">
                            <h5 class="mb-0"><strong>Total Tax</strong></h5>
                            <small class="text-muted">weekly profit</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="float-end">
                            <h4 class="fw-bold mt-2 mb-0 text-success">$1625</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix row mb-4">
                    <div class="col">
                        <div class="float-start">
                            <h5 class="mb-0"><strong>Total Income</strong></h5>
                            <small class="text-muted">weekly profit</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="float-end">
                            <h4 class="fw-bold mt-2 mb-0 text-warning">70%</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix row mb-4">
                    <div class="col">
                        <div class="float-start">
                            <h5 class="mb-0"><strong>Total Income</strong></h5>
                            <small class="text-muted">weekly profit</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="float-end">
                            <h4 class="fw-bold mt-2 mb-0 text-danger">50%</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix row mb-4">
                    <div class="col">
                        <div class="float-start">
                            <h5 class="mb-0"><strong>Total Loss</strong></h5>
                            <small class="text-muted">weekly profit</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="float-end">
                            <h4 class="fw-bold mt-2 mb-0 text-info">30%</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix row mb-0">
                    <div class="col">
                        <div class="float-start">
                            <h5 class="mb-0"><strong>Total Loss</strong></h5>
                            <small class="text-muted">weekly profit</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="float-end">
                            <h4 class="fw-bold mt-2 mb-0 text-secondary">55%</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-xl-4 col-md-12">
        <div class="card ">
            <div class="card-header">
                <h5 class="card-title">Visitors</h5>
            </div>
            <div class="card-body">
                <div class="media mb-5 mt-0">
                    <div class="d-flex me-3">
                        <a href="javascript:;"> <img class="media-object rounded-circle thumb-sm" alt="64x64"
                                src="./assets/images/users/18.jpg"> </a>
                    </div>
                    <div class="media-body">
                        <a href="javascript:;" class="text-dark">Nathaniel Bustos</a>
                        <div class="text-muted small">Manager</div>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm d-block">Follow</button>
                </div>
                <div class="media mb-5">
                    <div class="d-flex me-3">
                        <a href="javascript:;"> <img class="media-object rounded-circle thumb-sm" alt="64x64"
                                src="./assets/images/users/4.jpg"> </a>
                    </div>
                    <div class="media-body">
                        <a href="javascript:;" class="text-dark">Latanya Kinard</a>
                        <div class="text-muted small">Web Designer</div>
                    </div>
                    <button type="button" class="btn btn-blue btn-sm d-block">Follow</button>
                </div>
                <div class="media mb-5">
                    <div class="d-flex me-3">
                        <a href="javascript:;"> <img class="media-object rounded-circle thumb-sm" alt="64x64"
                                src="./assets/images/users/20.jpg"> </a>
                    </div>
                    <div class="media-body">
                        <a href="javascript:;" class="text-dark">George Lujan</a>
                        <div class="text-muted small">Founder</div>
                    </div>
                    <button type="button" class="btn btn-warning btn-sm d-block">Follow</button>
                </div>
                <div class="media mb-5 mt-0">
                    <div class="d-flex me-3">
                        <a href="javascript:;"> <img class="media-object rounded-circle thumb-sm" alt="64x64"
                                src="./assets/images/users/18.jpg"> </a>
                    </div>
                    <div class="media-body">
                        <a href="javascript:;" class="text-dark">Bustos</a>
                        <div class="text-muted small">Manager</div>
                    </div>
                    <button type="button" class="btn btn-success btn-sm d-block">Follow</button>
                </div>
                <div class="media mb-0">
                    <div class="d-flex me-3">
                        <a href="javascript:;"> <img class="media-object rounded-circle thumb-sm" alt="64x64"
                                src="./assets/images/users/19.jpg"> </a>
                    </div>
                    <div class="media-body">
                        <a href="javascript:;" class="text-dark">Samantha</a>
                        <div class="text-muted small">Manager</div>
                    </div>
                    <button type="button" class="btn btn-danger btn-sm d-block">Follow</button>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-xl-4 col-sm-12 p-l-0 p-r-0 col-md-12">
        <div class="card">
            <div class="card-header text-center">
                <h2 class="card-title">Projects</h2>
            </div>
            <div class="card-body">
                    <circle-progress class="mx-auto chart-circle chart-circle-md mt-3 mb-4 text-center" [percent]="75" [radius]="82" [space]="-14" [outerStrokeWidth]="14"
                    [innerStrokeWidth]="14" [showInnerStroke]="true" [outerStrokeColor]="'#5e2dd8'"
                    [innerStrokeColor]="'#817ad57a'" [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [animation]="true" [animationDuration]="1000">
                </circle-progress>
                <div class="text-center mt-3">
                    <h3>Average Sales</h3>
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam
                        excepturi.</p>
                    <div class="col p-1 mt-2">
                        <div class="float-start">
                            <h3 class="ms-5 "><i class="fa fa-caret-up fa-1x text-primary me-1"></i>$3.2</h3>
                            <h6 class="ms-5 pb-0 mb-0">last month</h6>
                        </div>
                        <div class="float-end">
                            <h3 class="me-5"><i class="fa fa-caret-up fa-1x text-primary me-1"></i>$2.4</h3>
                            <h6 class="me-5 mt-0 mb-0">last year</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
</div>
<!-- ROW CLOSED -->

<!-- ROW OPEN -->
<div class="row ">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Skill Set</div>
            </div>
            <div class="card-body mt-0">
                <div class="chats-wrap media-list">
                    <div class="chat-details mb-1 p-3">
                        <h4 class="mb-0">
                            <span class="h5 fw-normal">Html</span>
                            <span class="float-end p-1  btn btn-sm text-default">
                                <b>85</b>%</span>
                        </h4>
                        <ngb-progressbar class="mt-3" type="primary" [value]="80" height="0.5rem"></ngb-progressbar>
                    </div>
                    <div class="chat-details mb-1 p-3">
                        <h4 class="mb-0">
                            <span class="h5 fw-normal"> Wordpress</span>
                            <span class="float-end p-1  btn btn-sm text-default">
                                <b>46</b>%</span>
                        </h4>
                        <ngb-progressbar class="mt-3" type="success" [value]="45" height="0.5rem"></ngb-progressbar>
                    </div>
                    <div class="chat-details mb-1 p-3">
                        <h4 class="mb-0">
                            <span class="h5 fw-normal"> jQuery</span>
                            <span class="float-end p-1  btn btn-sm text-default">
                                <b>56</b>%</span>
                        </h4>
                        <ngb-progressbar class="mt-3" type="warning" [value]="65" height="0.5rem"></ngb-progressbar>
                    </div>
                    <div class="chat-details mb-1 p-3">
                        <h4 class="mb-0">
                            <span class="h5 fw-normal"> Photoshop</span>
                            <span class="float-end p-1  btn btn-sm text-default">
                                <b>90</b>%</span>
                        </h4>
                        <ngb-progressbar class="mt-3" type="danger" [value]="75" height="0.5rem"></ngb-progressbar>
                    </div>
                    <div class="chat-details mb-1 p-3">
                        <h4 class="mb-0">
                            <span class="h5 fw-normal">Angular js</span>
                            <span class="float-end p-1  btn btn-sm text-default">
                                <b>30</b>%</span>
                        </h4>
                        <ngb-progressbar class="mt-3" type="info" [value]="30" height="0.5rem"></ngb-progressbar>
                    </div>
                    <div class="chat-details mb-0 p-3">
                        <h4 class="mb-0">
                            <span class="h5 fw-normal">React js</span>
                            <span class="float-end p-1  btn btn-sm text-default">
                                <b>46</b>%</span>
                        </h4>
                        <ngb-progressbar class="mt-3" type="secondary" [value]="45" height="0.5rem"></ngb-progressbar>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
    <div class="col-md-12 col-sm-12 col-lg-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Best Pictures for Today</h3>
            </div>
            <div class="card-body p-2">
                <div>
                    <ul id="ks98" class="w-100">
                        <ks-plain-gallery [id]="203" class="d-block img-fluid" [images]="images"
                      [config]="libConfigPlainGalleryGrid"
                      (clickImage)="onShow(203, $event)"></ks-plain-gallery>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- COL END -->
</div>
<!-- ROW CLOSED -->

