<app-header-breadcrumb [title]="'Products'" [items]="['ECommerce']" [active_item]="'Products'"></app-header-breadcrumb>
<!-- ROW-1 OPEN -->
<div class="row row-cards">
    <div class="col-xl-3 col-lg-4">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <form class="shop__filter card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Colors
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row gutters-xs">
                            <div class="col-auto">
                                <label class="colorinput">
                                    <input name="color" type="radio" value="azure" class="colorinput-input" checked="">
                                    <span class="colorinput-color bg-azure"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="colorinput">
                                    <input name="color" type="radio" value="indigo" class="colorinput-input">
                                    <span class="colorinput-color bg-indigo"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="colorinput">
                                    <input name="color" type="radio" value="purple" class="colorinput-input">
                                    <span class="colorinput-color bg-purple"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="colorinput">
                                    <input name="color" type="radio" value="pink" class="colorinput-input">
                                    <span class="colorinput-color bg-pink"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="colorinput">
                                    <input name="color" type="radio" value="red" class="colorinput-input">
                                    <span class="colorinput-color bg-red"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="colorinput">
                                    <input name="color" type="radio" value="orange" class="colorinput-input">
                                    <span class="colorinput-color bg-orange"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="colorinput">
                                    <input name="color" type="radio" value="yellow" class="colorinput-input">
                                    <span class="colorinput-color bg-yellow"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="colorinput">
                                    <input name="color" type="radio" value="lime" class="colorinput-input">
                                    <span class="colorinput-color bg-lime"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="colorinput">
                                    <input name="color" type="radio" value="green" class="colorinput-input">
                                    <span class="colorinput-color bg-green"></span>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label class="colorinput">
                                    <input name="color" type="radio" value="teal" class="colorinput-input">
                                    <span class="colorinput-color bg-teal"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card">
                    <div class="card-header">
                        <div class="card-title"> Categories &amp; Fliters</div>
                    </div>
                    <div class="card-body">
                        <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-bs-checkboxes="mygroup" class="custom-control-input"
                                id="checkbox-1" checked="">
                            <label for="checkbox-1" class="custom-control-label">Mens</label>
                        </div>
                        <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-bs-checkboxes="mygroup" class="custom-control-input"
                                id="checkbox-2">
                            <label for="checkbox-2" class="custom-control-label">Womens</label>
                        </div>
                        <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-bs-checkboxes="mygroup" class="custom-control-input"
                                id="checkbox-3">
                            <label for="checkbox-3" class="custom-control-label">Kids</label>
                        </div>
                        <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-bs-checkboxes="mygroup" class="custom-control-input"
                                id="checkbox-4">
                            <label for="checkbox-4" class="custom-control-label">Others</label>
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Category</label>
                            <ng-select name="beast" id="select-beast" class="form-control form-select custom-select">
                                <ng-option value="0">--Select--</ng-option>
                                <ng-option value="1">Dress</ng-option>
                                <ng-option value="2">Bags &amp; Purses</ng-option>
                                <ng-option value="3">Coat &amp; Jacket</ng-option>
                                <ng-option value="4">Beauty</ng-option>
                                <ng-option value="5">Jeans</ng-option>
                                <ng-option value="5">Jewellery</ng-option>
                                <ng-option value="5">Electronics</ng-option>
                                <ng-option value="5">Sports</ng-option>
                                <ng-option value="5">Technology</ng-option>
                                <ng-option value="5">Watches</ng-option>
                                <ng-option value="5">Accessories</ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Brand</label>
                            <ng-select name="beast" id="select-beast1" class="form-control form-select custom-select">
                                <ng-option value="0">--Select--</ng-option>
                                <ng-option value="1">White</ng-option>
                                <ng-option value="2">Black</ng-option>
                                <ng-option value="3">Red</ng-option>
                                <ng-option value="4">Green</ng-option>
                                <ng-option value="5">Blue</ng-option>
                                <ng-option value="6">Yellow</ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Type</label>
                            <ng-select name="beast" id="select-beast2" class="form-control form-select custom-select">
                                <ng-option value="0">--Select--</ng-option>
                                <ng-option value="1">Extra Small</ng-option>
                                <ng-option value="2">Small</ng-option>
                                <ng-option value="3">Medium</ng-option>
                                <ng-option value="4">Large</ng-option>
                                <ng-option value="5">Extra Large</ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Color</label>
                            <ng-select name="beast" id="select-beast3" class="form-control form-select custom-select">
                                <ng-option value="0">--Select--</ng-option>
                                <ng-option value="1">White</ng-option>
                                <ng-option value="2">Black</ng-option>
                                <ng-option value="3">Red</ng-option>
                                <ng-option value="4">Green</ng-option>
                                <ng-option value="5">Blue</ng-option>
                                <ng-option value="6">Yellow</ng-option>
                            </ng-select>
                        </div>
                        <a class="btn btn-primary me-2 mb-1" href="javascript:;">Apply Filter</a>
                        <a class="btn btn-danger mb-1" href="javascript:;">Search Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL-END -->
    <div class="col-xl-9 col-lg-8">
        <div class="card">
            <div class="row card-body p-2">
                <div class="col-sm-12 p-0">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search ...">
                        <button class="input-group-text btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="card item-card">
                    <div class="ribbone">
                        <div class="ribbon"><span>new</span></div>
                    </div>
                    <div class="product-grid6  card-body">
                        <div class="product-image6">
                            <a routerLink="/pages/ecommerce/product-details">
                                <img class="img-fluid w-100" src="./assets/images/pngs/9.png" alt="img">
                            </a>
                        </div>
                        <div class="product-content text-center">
                            <div class="mb-2 text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h4 class="title"><a href="javascript:;">bracelets</a></h4>
                            <div class="price">$16,599<span class="ms-4">$19,799</span></div>
                        </div>
                        <ul class="icons">
                            <li><a routerLink="/pages/ecommerce/product-details" data-tip="Quick View"><i class="fe fe-eye "></i></a>
                            </li>
                            <li><a routerLink="/pages/ecommerce/wishlist" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            </li>
                            <li><a routerLink="/pages/ecommerce/shopping-cart" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card item-card">
                    <span class="ribbon1">
                        <span>25%</span>
                    </span>
                    <div class="product-grid6 card-body">
                        <div class="product-image6">
                            <a routerLink="/pages/ecommerce/product-details">
                                <img class="img-fluid w-100" src="./assets/images/pngs/1.png" alt="img">
                            </a>
                        </div>
                        <div class="product-content text-center">
                            <div class="text-center mb-2 text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h4 class="title"><a href="javascript:;">Cup</a></h4>
                            <div class="price">$529<span class="ms-4">$799</span></div>
                        </div>
                        <ul class="icons">
                            <li><a routerLink="/pages/ecommerce/product-details" data-tip="Quick View"><i class="fe fe-eye "></i></a>
                            </li>
                            <li><a routerLink="/pages/ecommerce/wishlist" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            </li>
                            <li><a routerLink="/pages/ecommerce/shopping-cart" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card item-card">
                    <div class="product-grid6  card-body">
                        <div class="product-image6">
                            <a routerLink="/pages/ecommerce/product-details">
                                <img class="img-fluid w-100" src="./assets/images/pngs/7.png" alt="img">
                            </a>
                        </div>
                        <div class="product-content text-center">
                            <div class="text-center mb-2 text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <h4 class="title"><a href="javascript:;">Stool</a></h4>
                            <div class="price">$25,239<span class="ms-4">$34,399</span></div>
                        </div>
                        <ul class="icons">
                            <li><a routerLink="/pages/ecommerce/product-details" data-tip="Quick View"><i class="fe fe-eye "></i></a>
                            </li>
                            <li><a routerLink="/pages/ecommerce/wishlist" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            </li>
                            <li><a routerLink="/pages/ecommerce/shopping-cart" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card item-card">
                    <span class="ribbon1">
                        <span>25%</span>
                    </span>
                    <div class="product-grid6  card-body">
                        <div class="product-image6">
                            <a routerLink="/pages/ecommerce/product-details">
                                <img class="img-fluid w-100" src="./assets/images/pngs/2.png" alt="img">
                            </a>
                        </div>
                        <div class="product-content text-center">
                            <div class="text-center mb-2 text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h4 class="title"><a href="javascript:;">Video Game</a></h4>
                            <div class="price">$345<span class="ms-4">$459</span></div>
                        </div>
                        <ul class="icons">
                            <li><a routerLink="/pages/ecommerce/product-details" data-tip="Quick View"><i class="fe fe-eye "></i></a>
                            </li>
                            <li><a routerLink="/pages/ecommerce/wishlist" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            </li>
                            <li><a routerLink="/pages/ecommerce/shopping-cart" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card item-card">
                    <div class="product-grid6  card-body ">
                        <div class="product-image6">
                            <a routerLink="/pages/ecommerce/product-details">
                                <img class="img-fluid w-100" src="./assets/images/pngs/4.png" alt="img">
                            </a>
                        </div>
                        <div class="product-content text-center">
                            <div class="text-center mb-2 text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h4 class="title"><a href="javascript:;">Flower Pot</a></h4>
                            <div class="price">$277<span class="ms-4">$456</span></div>
                        </div>
                        <ul class="icons">
                            <li><a routerLink="/pages/ecommerce/product-details" data-tip="Quick View"><i class="fe fe-eye "></i></a>
                            </li>
                            <li><a routerLink="/pages/ecommerce/wishlist" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            </li>
                            <li><a routerLink="/pages/ecommerce/shopping-cart" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card item-card">
                    <div class="product-grid6  card-body">
                        <div class="product-image6">
                            <a routerLink="/pages/ecommerce/product-details">
                                <img class="img-fluid w-100" src="./assets/images/pngs/8.png" alt="img">
                            </a>
                        </div>
                        <div class="product-content text-center">
                            <div class="text-center mb-2 text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <h4 class="title"><a href="javascript:;">Watch</a></h4>
                            <div class="price">$567<span class="ms-4">$866</span></div>
                        </div>
                        <ul class="icons">
                            <li><a routerLink="/pages/ecommerce/product-details" data-tip="Quick View"><i class="fe fe-eye "></i></a>
                            </li>
                            <li><a routerLink="/pages/ecommerce/wishlist" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            </li>
                            <li><a routerLink="/pages/ecommerce/shopping-cart" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card item-card">
                    <div class="product-grid6  card-body">
                        <div class="product-image6">
                            <a routerLink="/pages/ecommerce/product-details">
                                <img class="img-fluid w-100" src="./assets/images/pngs/3.png" alt="img">
                            </a>
                        </div>
                        <div class="product-content text-center">
                            <div class="text-center mb-2 text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h4 class="title"><a href="javascript:;">Headset</a></h4>
                            <div class="price">$455<span class="ms-4">$567</span></div>
                        </div>
                        <ul class="icons">
                            <li><a routerLink="/pages/ecommerce/product-details" data-tip="Quick View"><i class="fe fe-eye "></i></a>
                            </li>
                            <li><a routerLink="/pages/ecommerce/wishlist" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            </li>
                            <li><a routerLink="/pages/ecommerce/shopping-cart" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card item-card">
                    <div class="product-grid6  card-body">
                        <div class="product-image6">
                            <a routerLink="/pages/ecommerce/product-details">
                                <img class="img-fluid w-100" src="./assets/images/pngs/5.png" alt="img">
                            </a>
                        </div>
                        <div class="product-content text-center">
                            <div class="text-center mb-2 text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h4 class="title"><a href="javascript:;">Chair</a></h4>
                            <div class="price">$345<span class="ms-4">$499</span></div>
                        </div>
                        <ul class="icons">
                            <li><a routerLink="/pages/ecommerce/product-details" data-tip="Quick View"><i class="fe fe-eye "></i></a>
                            </li>
                            <li><a routerLink="/pages/ecommerce/wishlist" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            </li>
                            <li><a routerLink="/pages/ecommerce/shopping-cart" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card item-card">
                    <span class="ribbon1">
                        <span>30%</span>
                    </span>
                    <div class="product-grid6  card-body">
                        <div class="product-image6">
                            <a routerLink="/pages/ecommerce/product-details">
                                <img class="img-fluid w-100" src="./assets/images/pngs/6.png" alt="img">
                            </a>
                        </div>
                        <div class="product-content text-center">
                            <div class="text-center mb-2 text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <h4 class="title"><a href="javascript:;">Goggles</a></h4>
                            <div class="price">$543<span class="ms-4">$688</span></div>
                        </div>
                        <ul class="icons">
                            <li><a routerLink="/pages/ecommerce/product-details" data-tip="Quick View"><i class="fe fe-eye "></i></a>
                            </li>
                            <li><a routerLink="/pages/ecommerce/wishlist" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            </li>
                            <li><a routerLink="/pages/ecommerce/shopping-cart" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <div class="float-end">

            <ngb-pagination [collectionSize]="50" [(page)]="basicPage" aria-label="Default pagination"></ngb-pagination>
            </div>
        </div>
    </div><!-- COL-END -->
</div>
<!-- ROW-1 CLOSED -->