<app-header-breadcrumb [title]="'Simpleline'" [items]="['Icons']" [active_item]="'Simpleline'"></app-header-breadcrumb>
<!-- ROW OPEN -->
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Simpleline Icons</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <p>Simply beautiful open source icons. For more info <a
                                href="https://simplelineicons.github.io/" target="_blank">click here</a>.</p>
                        <p><code>&lt;i class="icon icon-user"&gt;&lt;/i&gt;</code></p>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="icons-list-wrap">
                            <ul class="icons-list">
                                <li class="icons-list-item"><i class="icon icon-user" ngbTooltip="icon-user"></i></li>
                                <li class="icons-list-item"><i class="icon icon-people" ngbTooltip="icon-people"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-user-female"
                                        ngbTooltip="icon-user-female"></i></li>
                                <li class="icons-list-item"><i class="icon icon-user-follow"
                                        ngbTooltip="icon-user-follow"></i></li>
                                <li class="icons-list-item"><i class="icon icon-user-following"
                                        ngbTooltip="icon-user-following"></i></li>
                                <li class="icons-list-item"><i class="icon icon-user-unfollow"
                                        ngbTooltip="icon-user-unfollow"></i></li>
                                <li class="icons-list-item"><i class="icon icon-login" ngbTooltip="icon-login"></i></li>
                                <li class="icons-list-item"><i class="icon icon-logout" ngbTooltip="icon-logout"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-emotsmile"
                                        ngbTooltip="icon-emotsmile"></i></li>
                                <li class="icons-list-item"><i class="icon icon-phone" ngbTooltip="icon-phone"></i></li>
                                <li class="icons-list-item"><i class="icon icon-call-end"
                                        ngbTooltip="icon-call-end"></i></li>
                                <li class="icons-list-item"><i class="icon icon-call-in" ngbTooltip="icon-call-in"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-call-out"
                                        ngbTooltip="icon-call-out"></i></li>
                                <li class="icons-list-item"><i class="icon icon-map" ngbTooltip="icon-map"></i></li>
                                <li class="icons-list-item"><i class="icon icon-location-pin"
                                        ngbTooltip="icon-location-pin"></i></li>
                                <li class="icons-list-item"><i class="icon icon-direction"
                                        ngbTooltip="icon-direction"></i></li>
                                <li class="icons-list-item"><i class="icon icon-directions"
                                        ngbTooltip="icon-directions"></i></li>
                                <li class="icons-list-item"><i class="icon icon-compass" ngbTooltip="icon-compass"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-layers" ngbTooltip="icon-layers"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-menu" ngbTooltip="icon-menu"></i></li>
                                <li class="icons-list-item"><i class="icon icon-list" ngbTooltip="icon-list"></i></li>
                                <li class="icons-list-item"><i class="icon icon-options-vertical"
                                        ngbTooltip="icon-options-vertical"></i></li>
                                <li class="icons-list-item"><i class="icon icon-options" ngbTooltip="icon-options"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-arrow-down"
                                        ngbTooltip="icon-arrow-down"></i></li>
                                <li class="icons-list-item"><i class="icon icon-arrow-left"
                                        ngbTooltip="icon-arrow-left"></i></li>
                                <li class="icons-list-item"><i class="icon icon-arrow-right"
                                        ngbTooltip="icon-arrow-right"></i></li>
                                <li class="icons-list-item"><i class="icon icon-arrow-up"
                                        ngbTooltip="icon-arrow-up"></i></li>
                                <li class="icons-list-item"><i class="icon icon-arrow-up-circle"
                                        ngbTooltip="icon-arrow-up-circle"></i></li>
                                <li class="icons-list-item"><i class="icon icon-arrow-left-circle"
                                        ngbTooltip="icon-arrow-left-circle"></i></li>
                                <li class="icons-list-item"><i class="icon icon-arrow-right-circle"
                                        ngbTooltip="icon-arrow-right-circle"></i></li>
                                <li class="icons-list-item"><i class="icon icon-arrow-down-circle"
                                        ngbTooltip="icon-arrow-down-circle"></i></li>
                                <li class="icons-list-item"><i class="icon icon-check" ngbTooltip="icon-check"></i></li>
                                <li class="icons-list-item"><i class="icon icon-clock" ngbTooltip="icon-clock"></i></li>
                                <li class="icons-list-item"><i class="icon icon-plus" ngbTooltip="icon-plus"></i></li>
                                <li class="icons-list-item"><i class="icon icon-minus" ngbTooltip="icon-minus"></i></li>
                                <li class="icons-list-item"><i class="icon icon-close" ngbTooltip="icon-close"></i></li>
                                <li class="icons-list-item"><i class="icon icon-event" ngbTooltip="icon-event"></i></li>
                                <li class="icons-list-item"><i class="icon icon-exclamation"
                                        ngbTooltip="icon-exclamation"></i></li>
                                <li class="icons-list-item"><i class="icon icon-organization"
                                        ngbTooltip="icon-organization"></i></li>
                                <li class="icons-list-item"><i class="icon icon-trophy" ngbTooltip="icon-trophy"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-screen-smartphone"
                                        ngbTooltip="icon-screen-smartphone"></i></li>
                                <li class="icons-list-item"><i class="icon icon-screen-desktop"
                                        ngbTooltip="icon-screen-desktop"></i></li>
                                <li class="icons-list-item"><i class="icon icon-plane" ngbTooltip="icon-plane"></i></li>
                                <li class="icons-list-item"><i class="icon icon-notebook"
                                        ngbTooltip="icon-notebook"></i></li>
                                <li class="icons-list-item"><i class="icon icon-mustache"
                                        ngbTooltip="icon-mustache"></i></li>
                                <li class="icons-list-item"><i class="icon icon-mouse" ngbTooltip="icon-mouse"></i></li>
                                <li class="icons-list-item"><i class="icon icon-magnet" ngbTooltip="icon-magnet"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-energy" ngbTooltip="icon-energy"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-disc" ngbTooltip="icon-disc"></i></li>
                                <li class="icons-list-item"><i class="icon icon-cursor" ngbTooltip="icon-cursor"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-cursor-move"
                                        ngbTooltip="icon-cursor-move"></i></li>
                                <li class="icons-list-item"><i class="icon icon-crop" ngbTooltip="icon-crop"></i></li>
                                <li class="icons-list-item"><i class="icon icon-chemistry"
                                        ngbTooltip="icon-chemistry"></i></li>
                                <li class="icons-list-item"><i class="icon icon-speedometer"
                                        ngbTooltip="icon-speedometer"></i></li>
                                <li class="icons-list-item"><i class="icon icon-shield" ngbTooltip="icon-shield"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-screen-tablet"
                                        ngbTooltip="icon-screen-tablet"></i></li>
                                <li class="icons-list-item"><i class="icon icon-magic-wand"
                                        ngbTooltip="icon-magic-wand"></i></li>
                                <li class="icons-list-item"><i class="icon icon-hourglass"
                                        ngbTooltip="icon-hourglass"></i></li>
                                <li class="icons-list-item"><i class="icon icon-graduation"
                                        ngbTooltip="icon-graduation"></i></li>
                                <li class="icons-list-item"><i class="icon icon-ghost" ngbTooltip="icon-ghost"></i></li>
                                <li class="icons-list-item"><i class="icon icon-game-controller"
                                        ngbTooltip="icon-game-controller"></i></li>
                                <li class="icons-list-item"><i class="icon icon-fire" ngbTooltip="icon-fire"></i></li>
                                <li class="icons-list-item"><i class="icon icon-eyeglass"
                                        ngbTooltip="icon-eyeglass"></i></li>
                                <li class="icons-list-item"><i class="icon icon-envelope-open"
                                        ngbTooltip="icon-envelope-open"></i></li>
                                <li class="icons-list-item"><i class="icon icon-envelope-letter"
                                        ngbTooltip="icon-envelope-letter"></i></li>
                                <li class="icons-list-item"><i class="icon icon-bell" ngbTooltip="icon-bell"></i></li>
                                <li class="icons-list-item"><i class="icon icon-badge" ngbTooltip="icon-badge"></i></li>
                                <li class="icons-list-item"><i class="icon icon-anchor" ngbTooltip="icon-anchor"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-wallet" ngbTooltip="icon-wallet"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-vector" ngbTooltip="icon-vector"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-speech" ngbTooltip="icon-speech"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-puzzle" ngbTooltip="icon-puzzle"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-printer" ngbTooltip="icon-printer"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-present" ngbTooltip="icon-present"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-playlist"
                                        ngbTooltip="icon-playlist"></i></li>
                                <li class="icons-list-item"><i class="icon icon-pin" ngbTooltip="icon-pin"></i></li>
                                <li class="icons-list-item"><i class="icon icon-picture" ngbTooltip="icon-picture"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-handbag" ngbTooltip="icon-handbag"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-globe-alt"
                                        ngbTooltip="icon-globe-alt"></i></li>
                                <li class="icons-list-item"><i class="icon icon-globe" ngbTooltip="icon-globe"></i></li>
                                <li class="icons-list-item"><i class="icon icon-folder-alt"
                                        ngbTooltip="icon-folder-alt"></i></li>
                                <li class="icons-list-item"><i class="icon icon-folder" ngbTooltip="icon-folder"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-film" ngbTooltip="icon-film"></i></li>
                                <li class="icons-list-item"><i class="icon icon-feed" ngbTooltip="icon-feed"></i></li>
                                <li class="icons-list-item"><i class="icon icon-drop" ngbTooltip="icon-drop"></i></li>
                                <li class="icons-list-item"><i class="icon icon-drawer" ngbTooltip="icon-drawer"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-docs" ngbTooltip="icon-docs"></i></li>
                                <li class="icons-list-item"><i class="icon icon-doc" ngbTooltip="icon-doc"></i></li>
                                <li class="icons-list-item"><i class="icon icon-diamond" ngbTooltip="icon-diamond"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-cup" ngbTooltip="icon-cup"></i></li>
                                <li class="icons-list-item"><i class="icon icon-calculator"
                                        ngbTooltip="icon-calculator"></i></li>
                                <li class="icons-list-item"><i class="icon icon-bubbles" ngbTooltip="icon-bubbles"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-briefcase"
                                        ngbTooltip="icon-briefcase"></i></li>
                                <li class="icons-list-item"><i class="icon icon-book-open"
                                        ngbTooltip="icon-book-open"></i></li>
                                <li class="icons-list-item"><i class="icon icon-basket-loaded"
                                        ngbTooltip="icon-basket-loaded"></i></li>
                                <li class="icons-list-item"><i class="icon icon-basket" ngbTooltip="icon-basket"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-bag" ngbTooltip="icon-bag"></i></li>
                                <li class="icons-list-item"><i class="icon icon-action-undo"
                                        ngbTooltip="icon-action-undo"></i></li>
                                <li class="icons-list-item"><i class="icon icon-action-redo"
                                        ngbTooltip="icon-action-redo"></i></li>
                                <li class="icons-list-item"><i class="icon icon-wrench" ngbTooltip="icon-wrench"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-umbrella"
                                        ngbTooltip="icon-umbrella"></i></li>
                                <li class="icons-list-item"><i class="icon icon-trash" ngbTooltip="icon-trash"></i></li>
                                <li class="icons-list-item"><i class="icon icon-tag" ngbTooltip="icon-tag"></i></li>
                                <li class="icons-list-item"><i class="icon icon-support" ngbTooltip="icon-support"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-frame" ngbTooltip="icon-frame"></i></li>
                                <li class="icons-list-item"><i class="icon icon icon-size-fullscreen"
                                        ngbTooltip="icon-size-fullscreen"></i></li>
                                <li class="icons-list-item"><i class="icon icon-size-actual"
                                        ngbTooltip="icon-size-actual"></i></li>
                                <li class="icons-list-item"><i class="icon icon-shuffle" ngbTooltip="icon-shuffle"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-share-alt"
                                        ngbTooltip="icon-share-alt"></i></li>
                                <li class="icons-list-item"><i class="icon icon-share" ngbTooltip="icon-share"></i></li>
                                <li class="icons-list-item"><i class="icon icon-rocket" ngbTooltip="icon-rocket"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-question"
                                        ngbTooltip="icon-question"></i></li>
                                <li class="icons-list-item"><i class="icon icon-pie-chart"
                                        ngbTooltip="icon-pie-chart"></i></li>
                                <li class="icons-list-item"><i class="icon icon-pencil" ngbTooltip="icon-pencil"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-note" ngbTooltip="icon-note"></i></li>
                                <li class="icons-list-item"><i class="icon icon-loop" ngbTooltip="icon-loop"></i></li>
                                <li class="icons-list-item"><i class="icon icon-home" ngbTooltip="icon-home"></i></li>
                                <li class="icons-list-item"><i class="icon icon-grid" ngbTooltip="icon-grid"></i></li>
                                <li class="icons-list-item"><i class="icon icon-graph" ngbTooltip="icon-graph"></i></li>
                                <li class="icons-list-item"><i class="icon icon-microphone"
                                        ngbTooltip="icon-microphone"></i></li>
                                <li class="icons-list-item"><i class="icon icon-music-tone-alt"
                                        ngbTooltip="icon-music-tone-alt"></i></li>
                                <li class="icons-list-item"><i class="icon icon-music-tone"
                                        ngbTooltip="icon-music-tone"></i></li>
                                <li class="icons-list-item"><i class="icon icon-earphones-alt"
                                        ngbTooltip="icon-earphones-alt"></i></li>
                                <li class="icons-list-item"><i class="icon icon-earphones"
                                        ngbTooltip="icon-earphones"></i></li>
                                <li class="icons-list-item"><i class="icon icon-equalizer"
                                        ngbTooltip="icon-equalizer"></i></li>
                                <li class="icons-list-item"><i class="icon icon-like" ngbTooltip="icon-like"></i></li>
                                <li class="icons-list-item"><i class="icon icon-dislike" ngbTooltip="icon-dislike"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-control-start"
                                        ngbTooltip="icon-control-start"></i></li>
                                <li class="icons-list-item"><i class="icon icon-control-rewind"
                                        ngbTooltip="icon-control-rewind"></i></li>
                                <li class="icons-list-item"><i class="icon icon-control-play"
                                        ngbTooltip="icon-control-play"></i></li>
                                <li class="icons-list-item"><i class="icon icon-control-pause"
                                        ngbTooltip="icon-control-pause"></i></li>
                                <li class="icons-list-item"><i class="icon icon-control-forward"
                                        ngbTooltip="icon-control-forward"></i></li>
                                <li class="icons-list-item"><i class="icon icon-control-end"
                                        ngbTooltip="icon-control-end"></i></li>
                                <li class="icons-list-item"><i class="icon icon-volume-1"
                                        ngbTooltip="icon-volume-1"></i></li>
                                <li class="icons-list-item"><i class="icon icon-volume-2"
                                        ngbTooltip="icon-volume-2"></i></li>
                                <li class="icons-list-item"><i class="icon icon-volume-off"
                                        ngbTooltip="icon-volume-off"></i></li>
                                <li class="icons-list-item"><i class="icon icon-calendar"
                                        ngbTooltip="icon-calendar"></i></li>
                                <li class="icons-list-item"><i class="icon icon-bulb" ngbTooltip="icon-bulb"></i></li>
                                <li class="icons-list-item"><i class="icon icon-chart" ngbTooltip="icon-chart"></i></li>
                                <li class="icons-list-item"><i class="icon icon-ban" ngbTooltip="icon-ban"></i></li>
                                <li class="icons-list-item"><i class="icon icon-bubble" ngbTooltip="icon-bubble"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-camrecorder"
                                        ngbTooltip="icon-camrecorder"></i></li>
                                <li class="icons-list-item"><i class="icon icon-camera" ngbTooltip="icon-camera"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-cloud-download"
                                        ngbTooltip="icon-cloud-download"></i></li>
                                <li class="icons-list-item"><i class="icon icon-cloud-upload"
                                        ngbTooltip="icon-cloud-upload"></i></li>
                                <li class="icons-list-item"><i class="icon icon-envelope"
                                        ngbTooltip="icon-envelope"></i></li>
                                <li class="icons-list-item"><i class="icon icon-eye" ngbTooltip="icon-eye"></i></li>
                                <li class="icons-list-item"><i class="icon icon-flag" ngbTooltip="icon-flag"></i></li>
                                <li class="icons-list-item"><i class="icon icon-heart" ngbTooltip="icon-heart"></i></li>
                                <li class="icons-list-item"><i class="icon icon-info" ngbTooltip="icon-info"></i></li>
                                <li class="icons-list-item"><i class="icon icon-key" ngbTooltip="icon-key"></i></li>
                                <li class="icons-list-item"><i class="icon icon-link" ngbTooltip="icon-link"></i></li>
                                <li class="icons-list-item"><i class="icon icon-lock" ngbTooltip="icon-lock"></i></li>
                                <li class="icons-list-item"><i class="icon icon-lock-open"
                                        ngbTooltip="icon-lock-open"></i></li>
                                <li class="icons-list-item"><i class="icon icon-magnifier"
                                        ngbTooltip="icon-magnifier"></i></li>
                                <li class="icons-list-item"><i class="icon icon-magnifier-add"
                                        ngbTooltip="icon-magnifier-add"></i></li>
                                <li class="icons-list-item"><i class="icon icon-magnifier-remove"
                                        ngbTooltip="icon-magnifier-remove"></i></li>
                                <li class="icons-list-item"><i class="icon icon-paper-clip"
                                        ngbTooltip="icon-paper-clip"></i></li>
                                <li class="icons-list-item"><i class="icon icon-paper-plane"
                                        ngbTooltip="icon-paper-plane"></i></li>
                                <li class="icons-list-item"><i class="icon icon-power" ngbTooltip="icon-power"></i></li>
                                <li class="icons-list-item"><i class="icon icon-refresh" ngbTooltip="icon-refresh"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-reload" ngbTooltip="icon-reload"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-settings"
                                        ngbTooltip="icon-settings"></i></li>
                                <li class="icons-list-item"><i class="icon icon-star" ngbTooltip="icon-star"></i></li>
                                <li class="icons-list-item"><i class="icon icon-symbol-female"
                                        ngbTooltip="icon-symbol-female"></i></li>
                                <li class="icons-list-item"><i class="icon icon-symbol-male"
                                        ngbTooltip="icon-symbol-male"></i></li>
                                <li class="icons-list-item"><i class="icon icon-target" ngbTooltip="icon-target"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-credit-card"
                                        ngbTooltip="icon-credit-card"></i></li>
                                <li class="icons-list-item"><i class="icon icon-paypal" ngbTooltip="icon-paypal"></i>
                                </li>
                                <li class="icons-list-item"><i class="icon icon-social-tumblr"
                                        ngbTooltip="icon-social-tumblr"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-twitter"
                                        ngbTooltip="icon-social-twitter"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-facebook"
                                        ngbTooltip="icon-social-facebook"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-instagram"
                                        ngbTooltip="icon-social-instagram"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-linkedin"
                                        ngbTooltip="icon-social-linkedin"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-pinterest"
                                        ngbTooltip="icon-social-pinterest"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-github"
                                        ngbTooltip="icon-social-github"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-google"
                                        ngbTooltip="icon-social-google"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-reddit"
                                        ngbTooltip="icon-social-reddit"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-skype"
                                        ngbTooltip="icon-social-skype"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-dribbble"
                                        ngbTooltip="icon-social-dribbble"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-behance"
                                        ngbTooltip="icon-social-behance"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-foursqare"
                                        ngbTooltip="icon-social-foursqare"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-soundcloud"
                                        ngbTooltip="icon-social-soundcloud"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-spotify"
                                        ngbTooltip="icon-social-spotify"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-stumbleupon"
                                        ngbTooltip="icon-social-stumbleupon"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-youtube"
                                        ngbTooltip="icon-social-youtube"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-dropbox"
                                        ngbTooltip="icon-social-dropbox"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-vkontakte"
                                        ngbTooltip="icon-social-vkontakte"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-steam"
                                        ngbTooltip="icon-social-steam"></i></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW CLOSED -->