<app-header-breadcrumb [title]="'DASH UPLOAD'" [items]="['Dash']" [active_item]="'Dash Upload'"
    [showAddNew]="false"  [showAddNew]="showAddNewButton" addButtonTitle="Upload File" [showOtherButton]="showOtherButton"
     (openPopUp)="onAddNewClick($event)"  (onOtherButtonclick)="backButton()" 
     OtherButtonTitle="Go Back">
</app-header-breadcrumb>

<div class="row" *ngIf="!showEntryScreen" >
    <div class="col-md-12 col-lg-12 pb-0">
        <div class="card " [(ngbCollapse)]="isClosed8">
            <div class="card-header ">
                <h3 class="card-title ">Dash Upload List</h3>
                <div class="card-options">
                    <a href="javascript:;" class="card-options-collapse" (click)="Collapsetoggle8()"
                        [attr.aria-expanded]="!isCollapsed8">
                        <i class="fe fe-chevron-{{ !isCollapsed8 ? 'up' : 'down'}}"></i>
                    </a>
                </div>
            </div>
            <div class="card-body p-2 pb-0" [(ngbCollapse)]="isCollapsed8">
                <div class="row p-2">
                    <div class="col-sm-12 col-md-12 pb-2 ">
                    </div>
                    <dx-data-grid  id="grid" #dataGrid [dataSource]="dashDataList" columnResizingMode="widget"    
                       [allowColumnResizing]="true" [remoteOperations]="true" [showBorders]="true">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-paging [pageSize]="20"></dxo-paging>
                        <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
                        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                        
                        <dxi-column  dataField="currentMonthYear" caption="Month"></dxi-column>
                        <dxi-column  dataField="consigneeCode" caption="Consignee"></dxi-column>
                        <dxi-column  dataField="demandModelNumber" caption="Material"></dxi-column>
                        <dxi-column dataField="foreCastMonth" caption="Plan Month"></dxi-column>
                       <dxi-column dataField="statusType" caption="Status"></dxi-column>
                        <dxi-column dataField="tranportMode" caption="Transport Mode"></dxi-column>
                        <dxi-column dataField="demandQuantity" caption="Demand Quantity"></dxi-column>
                          <!-- <dxi-column dataField="price" caption="Prev. ATP"></dxi-column>
                        <dxi-column dataField="price" caption="Purchase"></dxi-column>
                        <dxi-column dataField="price" caption="Sales"></dxi-column>
                        <dxi-column dataField="price" caption="Invt."></dxi-column>
                        <dxi-column dataField="price" caption="Purch. Amt"></dxi-column>
                        <dxi-column dataField="price" caption="Sales. Amt"></dxi-column>
                        <dxi-column dataField="price" caption="Invt.Amt"></dxi-column> -->
                        <dxo-export [enabled]="true" fileName="dashupload-data"></dxo-export>
                    </dx-data-grid>
                    </div>
            </div>
            </div>
        </div>
    </div>

    <div class="card" *ngIf="showEntryScreen">
        <div class="card-header">
            <h3 class="card-title">Excel Upload</h3>
        </div>
        <div class="card-body" id="entryForm">
            <div class="row">
               
                <div class="col-sm-6 col-md-12">
                    <div class="form-group">
                        <label class="form-label">File<span class="text-red">*</span></label>
                        <ngx-dropzone (change)="onSelect($event)" [multiple]="false"
                            accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                            <ngx-dropzone-label>Select from my computer <span
                                    class="text-red">*</span></ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                        <!-- <div *ngIf="rejectedFile.length>0" class="text-danger">
                            Please select a valid file
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default-light" (click)="clearForm()">
                <i class="fa fa-eraser "></i> &nbsp;Clear &nbsp;</button>
            <button [disabled]="loading" class="btn btn-indigo" type="button" (click)="onSubmit()"
                [style.pointer-events]="loading?'none':''">
                <i class="fe fe-check" *ngIf="!loading"> </i>
                <i class="fa fa-spinner fa-spin" *ngIf="loading"> </i>
                &nbsp; {{loading? 'Submitting' : ' Submit'}} &nbsp;
            </button>
        </div>
       
    </div>

