    <app-header-breadcrumb [title]="'COMPANY MASTER'" [items]="['Masters']" [showExport]="false" (onExportClickEvent)="onExportClick($event)"
    [loading]="excelLoading"  (openPopUp)="onAddNewClick($event)" [active_item]="'Company'"></app-header-breadcrumb>
<ng-template #companyEntryModal let-modal>
    <form [formGroup]="companyForm">
        <div class="modal-header">
            <h5 class="modal-title text-primary fw-semibold"> <span>
                    <!-- <i class="fe fe-plus mr-2 "></i> -->
                </span>COMPANY </h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <div class="form-group">
                        <label class="form-label">Company Code <span class="text-red">*</span></label>
                        <input type="text" class="form-control"  placeholder="code"
                        numbersOnly  formControlName="CompanyCode">
                        <div *ngIf="submitted && f.CompanyCode.errors" class="text-danger">
                            <div *ngIf="f.CompanyCode.errors.required">Please enter company code
                            </div>
                            <div *ngIf="f.CompanyCode.errors.numeric">Only 4 digit numbers are allowed
                            </div>
                            <div *ngIf="f.CompanyCode.errors.maxLength">Only 4 digit numbers are allowed
                            </div>
                            <div *ngIf="f.CompanyCode.errors.minLength">Only 4 digit numbers are allowed
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <div class="form-group">
                        <label class="form-label">Company Name <span class="text-red">*</span></label>
                        <input type="text" class="form-control" maxlength="100" placeholder="company name"
                            formControlName="CompanyName">
                        <div *ngIf="submitted && f.CompanyName.errors" class="text-danger">
                            <div *ngIf="f.CompanyName.errors.required">Please enter company name
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="IsActive">
                            <span class="custom-control-label">Active</span>
                        </label>

                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">

            <button type="button" class="btn btn-default-light" (click)="resetForm()">
                <i class="fa fa-eraser "></i> &nbsp;Clear &nbsp;</button>
            <button [disabled]="loading" class="btn btn-indigo" type="button" (click)="onSubmit()"
                [style.pointer-events]="loading?'none':''">
                <i class="fe fe-check" *ngIf="!loading"> </i>
                <i class="fa fa-spinner fa-spin" *ngIf="loading"> </i>
                &nbsp; {{loading? 'Submitting' : ' Submit'}} &nbsp;
            </button>
            <!-- <button type="button" class="btn btn-indigo">Save changes</button> -->
        </div>
    </form>
</ng-template>

<div class="dx-viewport">

</div>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card " [(ngbCollapse)]="isClosed8">
            <div class="card-header ">
                <h3 class="card-title ">Company List</h3>
                <div class="card-options">
                    <a href="javascript:;" class="card-options-collapse" (click)="Collapsetoggle8()"
                        [attr.aria-expanded]="!isCollapsed8">
                        <i class="fe fe-chevron-{{ !isCollapsed8 ? 'up' : 'down'}}"></i>
                    </a>

                </div>
            </div>
            <div class="card-body " [(ngbCollapse)]="isCollapsed8">
                <dx-data-grid  id="grid" [dataSource]="companyList" columnResizingMode="widget" 
                     [allowColumnResizing]="true" [remoteOperations]="true" [showBorders]="true">
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-header-filter [visible]="true" alignment="right"></dxo-header-filter>
                    <dxo-paging [pageSize]="20"></dxo-paging>
                    <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
                    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                    <dxi-column   dataField="companyCode" caption="Company Code">
                    </dxi-column>
                    <dxi-column dataField="companyName" caption="Company Name"></dxi-column>
                    <dxi-column dataField="isActive" [showEditorAlways]='false' [customizeText]='customizeText' caption="IsActive"></dxi-column>
                    <dxi-column [allowFiltering]="false" [allowSorting]="false" cellTemplate="buttonDeleteCellTemplate">
                    </dxi-column>
                    <div *dxTemplate="let data of 'buttonDeleteCellTemplate'" >
                        <button class="btn  btn-outline-info  iconbox  me-2 iconbox-xxs" ngbTooltip="View & Update"
                            (click)="onEditCompany(data.data)">
                            <i class="mdi mdi-pencil"></i>
                        </button>
                        <button class="btn  btn-outline-danger text-danger   iconbox iconbox-xxs mr-3 " 
                        (click)="onDeleteCompnay(data.data)" ngbTooltip="Remove">
                            <i class="fa fa-close "></i>
                        </button>
                    </div>
                    <dxo-export [enabled]="true" fileName="Company"></dxo-export>
                </dx-data-grid>
            </div>

        </div>
    </div><!-- COL END -->

</div>
