.br-br-5{
    border-end-end-radius: 5px !important;
} 
.br-bl-5{
    border-end-start-radius: 5px !important;

}
.br-tl-5{
    border-start-start-radius: 5px !important;

}
.br-tr-5{
    border-start-end-radius: 5px !important;

}