<app-header-breadcrumb [title]="'Search'" [items]="['Advanced Elements']" [active_item]="'Search'"></app-header-breadcrumb>
<!-- ROW OPEN -->
<div class="row row-cards">
    <div class="col-lg-12 col-xl-3">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title"> Categories</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label mt-0">Mens</label>
                            <ng-select name="beast" id="select-beast" class="form-control form-select custom-select">
                                <ng-option ng-option-selected value="0">--Select--</ng-option>
                                <ng-option value="1">Foot wear</ng-option>
                                <ng-option value="2">Top wear</ng-option>
                                <ng-option value="3">Bootom wear</ng-option>
                                <ng-option value="4">Men's Groming</ng-option>
                                <ng-option value="5">Accessories</ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Women</label>
                            <ng-select name="beast" id="select-beast1" class="form-control form-select custom-select">
                                <ng-option value="0">--Select--</ng-option>
                                <ng-option value="1">Western wear</ng-option>
                                <ng-option value="2">Foot wear</ng-option>
                                <ng-option value="3">Top wear</ng-option>
                                <ng-option value="4">Bootom wear</ng-option>
                                <ng-option value="5">Beuty Groming</ng-option>
                                <ng-option value="6">Accessories</ng-option>
                                <ng-option value="7">jewellery</ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Baby & Kids</label>
                            <ng-select name="beast" id="select-beast2" class="form-control form-select custom-select">
                                <ng-option value="0">--Select--</ng-option>
                                <ng-option value="1">Boys clothing</ng-option>
                                <ng-option value="2">girls Clothing</ng-option>
                                <ng-option value="3">Toys</ng-option>
                                <ng-option value="4">Baby Care</ng-option>
                                <ng-option value="5">Kids footwear</ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Electronics</label>
                            <ng-select name="beast" id="select-beast3" class="form-control form-select custom-select">
                                <ng-option value="0">--Select--</ng-option>
                                <ng-option value="1">Mobiles</ng-option>
                                <ng-option value="2">Laptops</ng-option>
                                <ng-option value="3">Gaming & Accessories</ng-option>
                                <ng-option value="4">Health care Appliances</ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Sport,Books & More </label>
                            <ng-select name="beast" id="select-beast4" class="form-control form-select custom-select">
                                <ng-option value="0">--Select--</ng-option>
                                <ng-option value="1">Stationery</ng-option>
                                <ng-option value="2">Books</ng-option>
                                <ng-option value="3">Gaming</ng-option>
                                <ng-option value="4">Music</ng-option>
                                <ng-option value="5">Exercise & fitness</ng-option>
                            </ng-select>
                        </div>
                        <a href="javascript:void(0)" class="btn btn-primary d-grid mt-5">Submit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-12">
                <div class="card">
                    <div class="card-body h-100">
                        <div class="mb-4 text-center">
                            <img src="./assets/images/pngs/5.png" alt="img" class="img-fluid br-5">
                        </div>
                        <h4 class="card-title text-center">Womens Shopping Zone</h4>
                        <div class="card-subtitle text-center">Upto 50% Discount slaes Every shopping items</div>
                        <div class="text-center">
                            <div class="mt-3 ">
                                <a routerLink="/ecommerce/products" href="javascript:void(0)" class="btn btn-primary d-grid"> View More</a>
                            </div>
                            <div class="mt-3 d-grid">
                                <a routerLink="/ecommerce/shopping-cart" class="btn btn-secondary"><i class="fe fe-plus"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xl-9">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="">
            <div class="input-group-text btn btn-primary">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>
        <div class="card mt-5 users store">
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap">
                    <tr>
                        <td><span class="avatar avatar-md brround avatar-fit mt-1"
                                style="background-size: cover; background-image: url(./assets/images/users/14.jpg)"></span></td>
                        <td>Mens Jackets</td>
                        <td>
                                <div class="stars stars-example-fontawesome">
                                    <ng-template #basicstar let-fill="fill">
                                        <span class="star" [class.full]="fill === 100">
                                            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                        </span>
                                    </ng-template>
                                    <ngb-rating [(rate)]="currentRate" [starTemplate]="basicstar" [max]="5" class="ng-rating"></ngb-rating>
                            </div>
                        </td>
                        <td class="text-end text-primary d-none d-md-table-cell text-nowrap">50% off</td>
                        <td class="text-end">
                            <strong>$1,987</strong>
                        </td>
                        <td class="text-end"><a class="btn btn-primary btn-sm text-white me-2">view</a></td>
                    </tr>
                    <tr>
                        <td><span class="avatar avatar-md brround avatar-fit mt-1"
                                style="background-size: cover; background-image: url(./assets/images/users/2.jpg)"></span></td>
                        <td> Occational Special Edition</td>
                        <td>
                            <ng-template #basicstar let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span>
                            </ng-template>
                            <ngb-rating [(rate)]="currentRate1" [starTemplate]="basicstar" [max]="5" class="ng-rating"></ngb-rating>
                        </td>
                        <td class="text-end text-green d-none d-md-table-cell text-nowrap ">60% off</td>
                        <td class="text-end">
                            <strong>$2,679</strong>
                        </td>
                        <td class="text-end"><a class="btn btn-primary btn-sm text-white me-2">view</a></td>
                    </tr>
                    <tr>
                        <td><span class="avatar avatar-md brround avatar-fit mt-1"
                                style="background-size: cover; background-image: url(./assets/images/users/5.jpg)"></span></td>
                        <td>Saree
                            <div class="badge bg-primary badge-md">New</div>
                        </td>
                        <td>
                            <ng-template #basicstar let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span>
                            </ng-template>
                            <ngb-rating [(rate)]="currentRate2" [starTemplate]="basicstar" [max]="5" class="ng-rating"></ngb-rating>
                        </td>
                        <td class="text-end text-warning d-none d-md-table-cell text-nowrap">25% off</td>
                        <td class="text-end">
                            <strong>$999</strong>
                        </td>
                        <td class="text-end"><a class="btn btn-primary btn-sm text-white me-2">view</a></td>
                    </tr>
                    <tr>
                        <td><span class="avatar avatar-md brround avatar-fit mt-1"
                                style="background-size: cover; background-image: url(./assets/images/users/4.jpg)"></span></td>
                        <td>Western Wear</td>
                        <td>
                            <ng-template #basicstar let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span>
                            </ng-template>
                            <ngb-rating [(rate)]="currentRate3" [starTemplate]="basicstar" [max]="5" class="ng-rating"></ngb-rating>
                        </td>
                        <td class="text-end text-info d-none d-md-table-cell text-nowrap">30% off</td>
                        <td class="text-end">
                            <strong>$699</strong>
                        </td>
                        <td class="text-end"><a class="btn btn-primary btn-sm text-white me-2">view</a></td>
                    </tr>
                    <tr>
                        <td><span class="avatar avatar-md brround avatar-fit mt-1"
                                style="background-size: cover; background-image: url(./assets/images/users/14.jpg)"></span></td>
                        <td>Kids Dress
                            <div class="badge bg-info badge-md">New</div>
                        </td>
                        <td>
                            <ng-template #basicstar let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span>
                            </ng-template>
                            <ngb-rating [(rate)]="currentRate4" [starTemplate]="basicstar" [max]="5" class="ng-rating"></ngb-rating>
                        </td>
                        <td class="text-end text-primary d-none d-md-table-cell text-nowrap">47% off</td>
                        <td class="text-end">
                            <strong>$399</strong>
                        </td>
                        <td class="text-end"><a class="btn btn-primary btn-sm text-white me-2">view</a></td>
                    </tr>
                    <tr>
                        <td><span class="avatar avatar-md brround avatar-fit mt-1"
                                style="background-size: cover; background-image: url(./assets/images/users/11.jpg)"></span></td>
                        <td>Kids Toys</td>
                        <td>
                            <ng-template #basicstar let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span>
                            </ng-template>
                            <ngb-rating [(rate)]="currentRate5" [starTemplate]="basicstar" [max]="5" class="ng-rating"></ngb-rating>
                        </td>
                        <td class="text-end text-success d-none d-md-table-cell text-nowrap">26% off</td>
                        <td class="text-end">
                            <strong>$299</strong>
                        </td>
                        <td class="text-end"><a class="btn btn-primary btn-sm text-white me-2">view</a></td>
                    </tr>
                    <tr>
                        <td><span class="avatar avatar-md brround avatar-fit mt-1"
                                style="background-size: cover; background-image: url(./assets/images/users/2.jpg)"></span></td>
                        <td>Sony KD-49XE7005
                            <div class="badge bg-primary badge-md">New</div>
                        </td>
                        <td>
                            <ng-template #basicstar let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span>
                            </ng-template>
                            <ngb-rating [(rate)]="currentRate6" [starTemplate]="basicstar" [max]="5" class="ng-rating"></ngb-rating>
                        </td>
                        <td class="text-end text-warning d-none d-md-table-cell text-nowrap">43% off</td>
                        <td class="text-end">
                            <strong>$22,269</strong>
                        </td>
                        <td class="text-end"><a class="btn btn-primary btn-sm text-white me-2">view</a></td>
                    </tr>
                    <tr>
                        <td><span class="avatar avatar-md brround avatar-fit mt-1"
                                style="background-size: cover; background-image: url(./assets/images/users/13.jpg)"></span></td>
                        <td>Huawei Mate Pro Dual SIM </td>
                        <td>
                            <ng-template #basicstar let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span>
                            </ng-template>
                            <ngb-rating [(rate)]="currentRate7" [starTemplate]="basicstar" [max]="5" class="ng-rating"></ngb-rating>
                        </td>
                        <td class="text-end text-info d-none d-md-table-cell text-nowrap">20% off</td>
                        <td class="text-end">
                            <strong>$9,999</strong>
                        </td>
                        <td class="text-end"><a class="btn btn-primary btn-sm text-white me-2">view</a></td>
                    </tr>
                    <tr>
                        <td><span class="avatar avatar-md brround avatar-fit mt-1"
                                style="background-size: cover; background-image: url(./assets/images/users/12.jpg)"></span></td>
                        <td>Novel Books
                            <div class="badge bg-danger badge-md">New</div>
                        </td>
                        <td>
                            <ng-template #basicstar let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span>
                            </ng-template>
                            <ngb-rating [(rate)]="currentRate8" [starTemplate]="basicstar" [max]="5" class="ng-rating"></ngb-rating>
                        </td>
                        <td class="text-end text-primary d-none d-md-table-cell text-nowrap">14% off</td>
                        <td class="text-end">
                            <strong>$899</strong>
                        </td>
                        <td class="text-end"><a class="btn btn-primary btn-sm text-white me-2">view</a></td>
                    </tr>
                    <tr>
                        <td><span class="avatar avatar-md brround avatar-fit mt-1"
                                style="background-size: cover; background-image: url(./assets/images/users/1.jpg)"></span></td>
                        <td>Welcare Fitness</td>
                        <td>
                            <ng-template #basicstar let-fill="fill">
                                <span class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span>
                            </ng-template>
                            <ngb-rating [(rate)]="currentRate9" [starTemplate]="basicstar" [max]="5" class="ng-rating"></ngb-rating>
                        </td>
                        <td class="text-end text-success d-none d-md-table-cell text-nowrap">40% off</td>
                        <td class="text-end">
                            <strong>$3,987</strong>
                        </td>
                        <td class="text-end"><a class="btn btn-primary btn-sm text-white me-2">view</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <ngb-pagination class="float-end mb-5" [collectionSize]="50" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
        </div>
    </div>
</div>
<!-- ROW CLOSE -->