<app-header-breadcrumb [title]="urlData[3] | titlecase" [items]="[urlData[1] | titlecase, urlData[2] | titlecase]"
    [active_item]="urlData[3] | titlecase"></app-header-breadcrumb>


<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Add New Post</div>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <label class="col-md-3 form-label">Post Title :</label>
                    <div class="">
                        <input type="text" class="form-control" value="Typing.....">
                    </div>
                </div>
                <div class="row mb-4">
                    <label class="col-md-3 form-label">Categories :</label>
                    <div class="">
                        <select name="country" class="form-control form-select select2" data-bs-placeholder="Select Country">
                            <option value="br">Technology</option>
                            <option value="cz">Travel</option>
                            <option value="de">Food</option>
                            <option value="pl">Fashion</option>
                    </select>
                    </div>
                </div>

                <!-- Row -->
                <div class="row">
                    <label class="col-md-3 form-label mb-4">Post Description :</label>
                    <div class="mb-4">
                        <angular-editor [placeholder]="'Enter text here...'" [config]="config"></angular-editor>
                    </div>
                </div>
                <!--End Row-->

                <div class="form-group mb-0">
                    <label class="col-md-3 form-label mb-4">File Upload :</label>
                    <ngx-dropzone (change)="onPreviewFileSelect($event)">
                        <ngx-dropzone-label>
                          <div>
                            <h2>preview file</h2>
                          </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of filesPreview" [file]="f"
                          [removable]="true" (removed)="onPreviewFileRemove(f)">
                          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                      </ngx-dropzone>
                </div>
            </div>
            <div class="card-footer">
                <a href="javascript:void(0)" class="btn btn-primary">Post</a>
                <a href="javascript:void(0)" class="btn btn-default float-end">Discard</a>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Recent Posts</div>
            </div>
            <div class="card-body">
                <div class="">
                    <div class="d-flex overflow-visible">
                        <a routerLink="/pages/blog/blog-details" class="card-aside-column br-5 cover-image" data-bs-image-src="./assets/images/media/19.jpg" style="background: url(&quot;./assets/images/media/19.jpg&quot;) center top;"></a>
                        <div class="ps-3 flex-column">
                            <span class="badge bg-danger me-1 mb-1 mt-1">Lifestyle</span>
                            <h4><a routerLink="/pages/blog/blog-details">Generator on the Internet..</a></h4>
                            <div class="text-muted">Excepteur sint occaecat cupidatat non proident, accusantium sunt in culpa qui officia deserunt mollit anim id est laborum....</div>
                        </div>
                    </div>
                    <div class="d-flex overflow-visible mt-5">
                        <a routerLink="/pages/blog/blog-details" class="card-aside-column br-5 cover-image" data-bs-image-src="./assets/images/media/22.jpg" style="background: url(&quot;./assets/images/media/19.jpg&quot;) center top;"></a>
                        <div class="ps-3 flex-column">
                            <span class="badge bg-primary me-1 mb-1 mt-1">Business</span>
                            <h4><a routerLink="/pages/blog/blog-details">Voluptatem quia voluptas...</a></h4>
                            <div class="text-muted">Excepteur sint occaecat cupidatat non proident, accusantium sunt in culpa qui officia deserunt mollit anim id est laborum....</div>
                        </div>
                    </div>
                    <div class="d-flex overflow-visible mt-5">
                        <a routerLink="/pages/blog/blog-details" class="card-aside-column br-5 cover-image" data-bs-image-src="./assets/images/media/12.jpg" style="background: url(&quot;./assets/images/media/19.jpg&quot;) center top;"></a>
                        <div class="ps-3 flex-column">
                            <span class="badge bg-secondary me-1 mb-1 mt-1">Travel</span>
                            <h4><a routerLink="/pages/blog/blog-details">Generator on the Internet..</a></h4>
                            <div class="text-muted">Excepteur sint occaecat cupidatat non proident, accusantium sunt in culpa qui officia deserunt mollit anim id est laborum....</div>
                        </div>
                    </div>
                    <div class="d-flex overflow-visible mt-5">
                        <a routerLink="/pages/blog/blog-details" class="card-aside-column br-5 cover-image" data-bs-image-src="./assets/images/media/25.jpg" style="background: url(&quot;./assets/images/media/19.jpg&quot;) center top;"></a>
                        <div class="ps-3 flex-column">
                            <span class="badge bg-success me-1 mb-1 mt-1">Meeting</span>
                            <h4><a routerLink="/pages/blog/blog-details">Voluptatem quia voluptas...</a></h4>
                            <div class="text-muted">Excepteur sint occaecat cupidatat non proident, accusantium sunt in culpa qui officia deserunt mollit anim id est laborum....</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="card-title">Professional Blog Writers</div>
            </div>
            <div class="card-body">
                <div class="">
                    <div class="d-flex overflow-visible">
                        <img class="avatar bradius avatar-xl me-3" src="./assets/images/users/12.jpg" alt="avatar-img">
                        <div class="media-body valign-middle">
                            <a routerLink="/pages/profile" class="fw-semibold text-dark">John Paige</a>
                            <p class="text-muted mb-0">There are many variations of passages of Lorem Ipsum available ...</p>
                        </div>
                    </div>
                    <div class="d-flex overflow-visible mt-5">
                        <img class="avatar bradius avatar-xl me-3" src="./assets/images/users/2.jpg" alt="avatar-img">
                        <div class="media-body valign-middle">
                            <a routerLink="/pages/profile" class="fw-semibold text-dark">Peter Hill</a>
                            <p class="text-muted mb-0">There are many variations of passages of Lorem Ipsum available ...</p>
                        </div>
                    </div>
                    <div class="d-flex overflow-visible mt-5">
                        <img class="avatar bradius avatar-xl me-3" src="./assets/images/users/9.jpg" alt="avatar-img">
                        <div class="media-body valign-middle">
                            <a routerLink="/pages/profile" class="fw-semibold text-dark">Irene Harris</a>
                            <p class="text-muted mb-0">There are many variations of passages of Lorem Ipsum available ...</p>
                        </div>
                    </div>
                    <div class="d-flex overflow-visible mt-5">
                        <img class="avatar bradius avatar-xl me-3" src="./assets/images/users/4.jpg" alt="avatar-img">
                        <div class="media-body valign-middle">
                            <a routerLink="/pages/profile" class="fw-semibold text-dark">Harry Fisher</a>
                            <p class="text-muted mb-0">There are many variations of passages of Lorem Ipsum available ...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->