<app-header-breadcrumb [title]="'COG UPLOAD'" [items]="['COG']" [active_item]="'COG Upload'" [showAddNew]="false"
    addButtonTitle="Upload File" [showAddNew]="showAddNewButton" [showOtherButton]="showOtherButton"
    (openPopUp)="onAddNewClick($event)" (onOtherButtonclick)="backButton()" OtherButtonTitle="Go Back">
</app-header-breadcrumb>
<div class="card" *ngIf="!showEntryScreen" [(ngbCollapse)]="isClosed8">
    <div class="card-header ">
        <h3 class="card-title ">COG Search</h3>
        <div class="card-options">
            <a href="javascript:;" class="card-options-collapse" (click)="Collapsetoggle8()"
                [attr.aria-expanded]="!isCollapsed8">
                <i class="fe fe-chevron-{{ !isCollapsed8 ? 'up' : 'down'}}"></i>
            </a>
        </div>
    </div>
    <div class="card-body p-2" [(ngbCollapse)]="isCollapsed8">
        <form [formGroup]="searchForm">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">From Month</label>
                <input [matDatepicker]="fromDp" [formControl]="fromMonth" (click)="fromDp.open()" (focus)="fromDp.open()" class="form-control">
                <mat-datepicker #fromDp startView="multi-year" (yearSelected)="chosenFromYearHandler($event)" (monthSelected)="chosenFromMonthHandler($event, fromDp)">
                </mat-datepicker>
                </div>
               </div>
               <div class="col-sm-6 col-md-3">
                <div class="form-group">
                    <label class="form-label">To Month</label>
                    <input [matDatepicker]="toDp" [formControl]="toMonth" (click)="toDp.open()" (focus)="toDp.open()" class="form-control">
                    <mat-datepicker #toDp startView="multi-year" (yearSelected)="chosenToYearHandler($event)" (monthSelected)="chosenToMonthHandler($event, toDp)">
                    </mat-datepicker>
                    
            </div>
           </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">Customer</label>
                        <angular2-multiselect [settings]="customerMultiSelectSettings" formControlName="CustomerId"
                        [data]="getCustomer">
                        </angular2-multiselect>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">Product Sub-Category</label>
                        <angular2-multiselect [settings]="productTypeMultiSelectSettings" formControlName="ProductCategoryId1"
                        [data]="getMG1" (ngModelChange)="onMg1Select($event)">
                    </angular2-multiselect>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">Product Type</label>
                        <angular2-multiselect [settings]="productTypeMultiSelectSettings" formControlName="ProductCategoryId2"
                        [data]="getMG2">
                        </angular2-multiselect>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="form-label">Sales Type</label>
                        <ng-select [items]="saleTypeList" bindLabel="saleType" class="select2 custom-select"
                            bindValue="id" formControlName="SalesTypeId" placeholder="Sales Type"
                            (change)="onSaleTypeChange()" [multiple]="true">
                        </ng-select>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <div class="form-label">Sales Sub Type</div>
                        <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="SalesSubType" value="Monthly"
                                    checked formControlName="SalesSubType">
                                <span class="custom-control-label">Monthly</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="SalesSubType" value="BP"
                                    formControlName="SalesSubType">
                                <span class="custom-control-label">BP</span>
                            </label>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-3  mt-5">
                    <label class="form-label"></label>
                    <button type="button" class="btn  mx-2  btn-default-light pull-right" (click)="reload()">
                        <i class="fa fa-eraser "></i> &nbsp;Clear &nbsp;</button>
                    <button [disabled]="loading" class="btn  btn-indigo pull-right" type="button" (click)="onSearch()"
                        [style.pointer-events]="loading?'none':''">
                        <i class="fe fe-check" *ngIf="!loading"> </i>
                        <i class="fa fa-spinner fa-spin" *ngIf="loading"> </i>
                        &nbsp; {{loading? 'Submitting' : ' Search'}} &nbsp;
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" *ngIf="!showEntryScreen">
    <div class="col-md-12 col-lg-12 pb-0">
        <div class="card " [(ngbCollapse)]="isClosedList8">
            <div class="card-header ">
                <h3 class="card-title ">COG List</h3>
                <div class="card-options">
                    <a href="javascript:;" class="card-options-collapse" (click)="CollapsetoggleList8()"
                        [attr.aria-expanded]="!isCollapsedList8">
                        <i class="fe fe-chevron-{{ !isCollapsedList8 ? 'up' : 'down'}}"></i>
                    </a>
                </div>
            </div>
            <div class="card-body p-2 pb-0" [(ngbCollapse)]="isCollapsedList8">
                <div class="row p-2">
                    <div class="col-sm-12 col-md-12 pb-2 ">
                    </div>
                    <dx-data-grid id="grid" [dataSource]="dataList" columnResizingMode="widget"
                        [allowColumnResizing]="true"  [showBorders]="true">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-paging [pageSize]="20"></dxo-paging>
                        <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
                        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                        <dxi-column dataField="customerCode" caption="Customer Code"></dxi-column>
                        <dxi-column dataField="customerName" caption="Customer Name"></dxi-column>
                        <dxi-column dataField="materialCode" caption="Material Code"></dxi-column>
                        <dxi-column dataField="saleTypeName" caption="Sales Type"></dxi-column>
                        <dxi-column dataField="saleSubType" caption="Sub Type"></dxi-column>
                        <dxi-column [alignment]="'right'"  dataField="monthYear" caption="MonthYear"></dxi-column>
                        
                        <dxi-column [alignment]="'right'"  dataField="frT_Price" caption="FRT">
                            <dxo-format format="#,##0.00"></dxo-format>
                        </dxi-column>
                        <dxi-column [alignment]="'right'"  dataField="csT_Price" caption="CST">
                            <dxo-format format="#,##0.00"></dxo-format>
                        </dxi-column>
                        <dxi-column [alignment]="'right'"  dataField="foB_Price" caption="FOB">
                            <dxo-format format="#,##0.00"></dxo-format>
                        </dxi-column>
                        <dxi-column [alignment]="'right'"  dataField="coG_Price" caption="COG">
                            <dxo-format format="#,##0.00"></dxo-format>
                        </dxi-column>
                        
                        <dxo-export [enabled]="true" fileName="cog-data"></dxo-export>
                        
                    </dx-data-grid>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="showEntryScreen">

    <form [formGroup]="uploadForm">
        <div class="card-header">
            <h3 class="card-title">COG Excel Upload</h3>
        </div>
        <div class="card-body" id="entryForm">
            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label class="form-label">Sales Type<span class="text-red">*</span></label>
                        <ng-select [items]="saleTypeList" bindLabel="saleType" class="select2 custom-select"
                            bindValue="id" formControlName="SalesTypeIdUpload" placeholder="Sales Type">
                        </ng-select>
                        <div *ngIf="(form.SalesTypeIdUpload.touched && form.SalesTypeIdUpload?.errors)"
                            class="text-danger">
                            <div *ngIf="form.SalesTypeIdUpload.errors?.required">Please select Sales Type</div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <div class="form-label">Sales Sub Type</div>
                        <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio" >
                                <input type="radio" class="custom-control-input" name="SalesSubTypeUpload"
                                    value="Monthly" checked formControlName="SalesSubTypeUpload">
                                <span class="custom-control-label">Monthly</span>
                            </label>
                            <label class="custom-control custom-radio" >
                                <input type="radio" class="custom-control-input" name="SalesSubTypeUpload" value="BP"
                                    formControlName="SalesSubTypeUpload">
                                <span class="custom-control-label">BP</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label class="form-label">File<span class="text-red">*</span></label>
                        <ngx-dropzone class="uploadFile" (change)="onSelect($event)" [multiple]="false"
                            accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                            <ngx-dropzone-label>Select from my computer <span
                                    class="text-red">*</span></ngx-dropzone-label>
                            <ngx-dropzone-preview class="file" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                        <!-- <div *ngIf="rejectedFile.length>0" class="text-danger">
                            Please select a valid file
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default-light" (click)="clearForm()">
                <i class="fa fa-eraser "></i> &nbsp;Clear &nbsp;</button>
            <button [disabled]="loading" class="btn btn-indigo" type="button" (click)="onSubmit()"
                [style.pointer-events]="loading?'none':''">
                <i class="fe fe-check" *ngIf="!loading"> </i>
                <i class="fa fa-spinner fa-spin" *ngIf="loading"> </i>
                &nbsp; {{loading? 'Submitting' : ' Submit'}} &nbsp;
            </button>
        </div>
        <div class="col-sm-6 col-md-12" *ngIf="showError">
            <div class="card">
                <div class="card-body">
                    <mat-tab-group [(selectedIndex)]="selectedTabIndex">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <span class="tab-header" [ngClass]="{'text-danger': missingItems.length}">Missing Items
                                    ({{missingItems.length}})</span>
                            </ng-template>
                            <div>
                                <ol>
                                    <li class="error-message" *ngFor="let item of missingItems">{{item.responseMessage}}
                                    </li>
                                </ol>
                            </div>

                        </mat-tab>

                    </mat-tab-group>
                </div>
            </div>
        </div>
    </form>
</div>