<app-header-breadcrumb [title]="urlData[3] | titlecase" [items]="[urlData[1] | titlecase, urlData[2] | titlecase]"
    [active_item]="urlData[3] | titlecase"></app-header-breadcrumb>

    <div class="row row-sm">
        <div class="col-xl-2 col-xxl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="card overflow-hidden">
                <a routerLink="/pages/files/file-details" class="mx-auto my-3"><img src="./assets/images/media/files/pdf.png" alt="img"></a>
                <div class="card-footer">
                    <div class="d-flex">
                        <div class="">
                            <h5 class="mb-0 fw-semibold text-break">file.pdf</h5>
                        </div>
                        <div class="ms-auto my-auto">
                            <span class="text-muted mb-0">32 KB</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-xxl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="card overflow-hidden">
                <a routerLink="/pages/files/file-details"><img src="./assets/images/media/files/07.jpg" alt="img" class="w-100 file-manager-list" ></a>
                <div class="card-footer">
                    <div class="d-flex">
                        <div class="">
                            <h5 class="mb-0 fw-semibold text-break">image1.jpg</h5>
                        </div>
                        <div class="ms-auto my-auto">
                            <span class="text-muted mb-0">76 KB</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-xxl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="card overflow-hidden">
                <a routerLink="/pages/files/file-details" class="mx-auto my-3"><img src="./assets/images/media/files/excel.png" alt="img"></a>
                <div class="card-footer">
                    <div class="d-flex">
                        <div class="">
                            <h5 class="mb-0 fw-semibold text-break">excel.xls</h5>
                        </div>
                        <div class="ms-auto my-auto">
                            <span class="text-muted mb-0">34 KB</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-xxl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="card overflow-hidden">
                <a routerLink="/pages/files/file-details"><img src="./assets/images/media/files/02.jpg" alt="img" class="w-100 file-manager-list"></a>
                <div class="card-footer">
                    <div class="d-flex">
                        <div class="">
                            <h5 class="mb-0 fw-semibold text-break">image2.jpg</h5>
                        </div>
                        <div class="ms-auto my-auto">
                            <span class="text-muted mb-0">66 KB</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-xxl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="card overflow-hidden">
                <a routerLink="/pages/files/file-details" class="mx-auto my-3"><img src="./assets/images/media/files/ppt1.png" alt="img"></a>
                <div class="card-footer">
                    <div class="d-flex">
                        <div class="">
                            <h5 class="mb-0 fw-semibold text-break">demo.ppt</h5>
                        </div>
                        <div class="ms-auto my-auto">
                            <span class="text-muted mb-0">67 KB</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-xxl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="card overflow-hidden">
                <a routerLink="/pages/files/file-details" class="mx-auto my-3"><img src="./assets/images/media/files/video.png" alt="img"></a>
                <div class="card-footer">
                    <div class="d-flex">
                        <div class="">
                            <h5 class="mb-0 fw-semibold text-break">video.mp4</h5>
                        </div>
                        <div class="ms-auto my-auto mt-3">
                            <span class="text-muted mb-0">320 KB</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-xxl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="card overflow-hidden">
                <a routerLink="/pages/files/file-details"><img src="./assets/images/media/files/04.jpg" alt="img" class="w-100 file-manager-list"></a>
                <div class="card-footer">
                    <div class="d-flex">
                        <div class="">
                            <h5 class="mb-0 fw-semibold text-break">image2.jpg</h5>
                        </div>
                        <div class="ms-auto my-auto">
                            <span class="text-muted mb-0">66 KB</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-xxl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="card overflow-hidden">
                <a routerLink="/pages/files/file-details" class="mx-auto my-3"><img src="./assets/images/media/files/word.png" alt="img"></a>
                <div class="card-footer">
                    <div class="d-flex">
                        <div class="">
                            <h5 class="mb-0 fw-semibold text-break">word.doc</h5>
                        </div>
                        <div class="ms-auto my-auto">
                            <span class="text-muted mb-0">320 KB</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-xxl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="card overflow-hidden">
                <a routerLink="/pages/files/file-details"><img src="./assets/images/media/files/01.jpg" alt="img" class="w-100 file-manager-list"></a>
                <div class="card-footer">
                    <div class="d-flex">
                        <div class="">
                            <h5 class="mb-0 fw-semibold text-break">mountain.jpg</h5>
                        </div>
                        <div class="ms-auto my-auto">
                            <span class="text-muted mb-0">320 KB</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-xxl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="card overflow-hidden">
                <a routerLink="/pages/files/file-details" class="mx-auto my-3"><img src="./assets/images/media/files/pdf.png" alt="img"></a>
                <div class="card-footer">
                    <div class="d-flex">
                        <div class="">
                            <h5 class="mb-0 fw-semibold text-break">file.pdf</h5>
                        </div>
                        <div class="ms-auto my-auto">
                            <span class="text-muted mb-0">32 KB</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-xxl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="card overflow-hidden">
                <a routerLink="/pages/files/file-details"><img src="./assets/images/media/files/06.jpg" alt="img" class="w-100 file-manager-list"></a>
                <div class="card-footer">
                    <div class="d-flex">
                        <div class="d-flex">
                            <h5 class="mb-0 fw-semibold text-break">image3.jpg</h5>
                        </div>
                        <div class="ms-auto my-auto">
                            <span class="text-muted mb-0">76 KB</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-xxl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="card overflow-hidden">
                <a routerLink="/pages/files/file-details" class="mx-auto my-3"><img src="./assets/images/media/files/excel.png" alt="img"></a>
                <div class="card-footer">
                    <div class="d-flex">
                        <div class="">
                            <h5 class="mb-0 fw-semibold text-break">excel.xls</h5>
                        </div>
                        <div class="ms-auto my-auto">
                            <span class="text-muted mb-0">34 KB</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-xxl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="card overflow-hidden">
                <a routerLink="/pages/files/file-details" class="mx-auto my-3"><img src="./assets/images/media/files/ppt1.png" alt="img"></a>
                <div class="card-footer">
                    <div class="d-flex">
                        <div class="">
                            <h5 class="mb-0 fw-semibold text-break">profile.ppt</h5>
                        </div>
                        <div class="ms-auto my-auto">
                            <span class="text-muted mb-0">67 KB</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-xxl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="card overflow-hidden">
                <a routerLink="/pages/files/file-details"><img src="./assets/images/media/files/05.jpg" alt="img" class="w-100 file-manager-list"></a>
                <div class="card-footer">
                    <div class="d-flex">
                        <div class="">
                            <h5 class="mb-0 fw-semibold text-break">image4.jpg</h5>
                        </div>
                        <div class="ms-auto my-auto">
                            <span class="text-muted mb-0">66 KB</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-xxl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="card overflow-hidden">
                <a routerLink="/pages/files/file-details" class="mx-auto my-3"><img src="./assets/images/media/files/zip1.png" alt="img"></a>
                <div class="card-footer">
                    <div class="d-flex">
                        <div class="">
                            <h5 class="mb-0 fw-semibold text-break">exe.zip</h5>
                        </div>
                        <div class="ms-auto my-auto">
                            <span class="text-muted mb-0">320 KB</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>