<app-header-breadcrumb [title]="'Sweet Alerts'" [items]="['Components']" [active_item]="'Sweet Alerts'"></app-header-breadcrumb>
<!-- Row -->
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Sample Sweet Alerts</h3>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="card custom-card text-center">
							<div class="card-body">
								<div>
									<h6 class="main-content-label mb-1">Basic Alert</h6>
									<p class="text-muted card-sub-title">A Basic Message</p>
								</div>
								<button type="button" class="btn ripple btn-primary" id='swal-basic'
									(click)="basicAlert()">
									Click me !
								</button>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
						<div class="card custom-card text-center">
							<div class="card-body">
								<div>
									<h6 class="card-title mb-1">Title alert</h6>
									<p class="text-muted card-sub-title">A title with a text under</p>
								</div>
								<button type="button" class="btn ripple btn-primary" id='swal-basic'
									(click)="titleAlert()">
									Click me !
								</button>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
						<div class="card custom-card text-center">
							<div class="card-body">
								<div>
									<h6 class="card-title mb-1">Success alert</h6>
									<p class="text-muted card-sub-title">A Success Message</p>
								</div>
								<button type="button" class="btn ripple btn-primary" id='swal-basic'
									(click)="successAlert()">
									Click me !
								</button>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
						<div class="card custom-card text-center">
							<div class="card-body">
								<div>
									<h6 class="card-title mb-1">Warning alert</h6>
									<p class="text-muted card-sub-title">A warning message</p>
								</div>

								<button type="button" class="btn ripple btn-primary" id='swal-basic'
									(click)="warningAlert()">
									Click me !
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
						<div class="card custom-card text-center">
							<div class="card-body">
								<div>
									<h6 class="card-title mb-1">Passing a parameter alert</h6>
									<p class="text-muted card-sub-title">By passing a parameter</p>
								</div>

								<button type="button" class="btn ripple btn-primary" id='swal-basic'
									(click)="parameterAlert()">
									Click me !
								</button>

							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
						<div class="card custom-card text-center">
							<div class="card-body">
								<div>
									<h6 class="card-title mb-1">Image alert</h6>
									<p class="text-muted card-sub-title">A message with custom Image</p>
								</div>
								<button type="button" class="btn ripple btn-primary" id='swal-basic'
									(click)="imageAlert()">
									Click me !
								</button>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
						<div class="card custom-card text-center">
							<div class="card-body">
								<div>
									<h6 class="card-title mb-1">Timer alert</h6>
									<p class="text-muted card-sub-title">A message with auto close timer</p>
								</div>
								<button type="button" class="btn ripple btn-primary" id='swal-basic'
									(click)="timerAlert()">
									Click me !
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Animation Alert</h3>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
						<div class="card custom-card text-center">
							<div class="card-body">

								<div>
									<h6 class="card-title mb-1">Animation Alert</h6>
									<p class="text-muted card-sub-title">Custom fade animation with Animation.css</p>
								</div>
								<button type="button" class="btn ripple btn-primary" id='swal-basic'
									(click)="animationFadeAlert()">
									Click me !
								</button>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
						<div class="card custom-card text-center">
							<div class="card-body">

								<div>
									<h6 class="card-title mb-1">Animation Alert</h6>
									<p class="text-muted card-sub-title">Custom rotate animation with Animation.css</p>
								</div>
								<button type="button" class="btn ripple btn-primary" id='swal-basic'
									(click)="animationRotateAlert()">
									Click me !
								</button>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
						<div class="card custom-card text-center">
							<div class="card-body">

								<div>
									<h6 class="card-title mb-1">Animation Alert</h6>
									<p class="text-muted card-sub-title">Custom zoom animation with Animation.css</p>
								</div>
								<button type="button" class="btn ripple btn-primary" id='swal-basic'
									(click)="animationZoomAlert()">
									Click me !
								</button>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
						<div class="card custom-card text-center">
							<div class="card-body">

								<div>
									<h6 class="card-title mb-1">Animation Alert</h6>
									<p class="text-muted card-sub-title">Custom slide animation with Animation.css</p>
								</div>
								<button type="button" class="btn ripple btn-primary" id='swal-basic'
									(click)="animationSlideAlert()">
									Click me !
								</button>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
						<div class="card custom-card text-center">
							<div class="card-body">

								<div>
									<h6 class="card-title mb-1">Animation Alert</h6>
									<p class="text-muted card-sub-title">Custom bounce animation with Animation.css</p>
								</div>
								<button type="button" class="btn ripple btn-primary" id='swal-basic'
									(click)="animationBounceAlert()">
									Click me !
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Row -->